<p>昨天晚上，准确点是今天只睡了5个多小时。睡觉前看冯唐的《万物生长》，半夜不知怎的做梦做醒了，想事情，就再也睡不着了。起来吃早饭，食堂都没饭。饿着肚子挺了一会，吃好了，回来接着看《万物生长》。</p>

<p>冯唐是个邪气很重的人，写出来的东西就像荤重的肉糕，浇上腥味十足的肉酱，吃下去后感觉全身的毛孔都变成了鼻孔，向外喷出炙热而富含男性荷尔蒙的诱人气息，把整个屋子变成蒸馒头用的蒸笼，蒸出一双幽幽发着绿光的双眼，眯眯着看着窗外的人行道，走过的美丽的女生。</p>

<p>中间说道他的初恋女友家里有一张床，床头刻着“大海航行靠舵手，万物生长靠太阳”，我始终坚定不移地相信他其实这本书想说的是“万物生长要靠日”。</p>

<p>冯唐的第一版《万物生长》被无数主编评价：“想骟成太监都不行，浑身都是小鸡鸡”，最后终于出来了，”删改得尼姑不象尼姑，和尚不象和尚“。再版的时候作序，“唯一提了一个要求，再版，原作一个字不能删，该是尼姑的地方是尼姑，该是和尚的地方是和尚。”结果这一段在再版的时候也被删了⋯⋯</p>

<p>文字太荤腥的，不能看的太多，本来也不是天生异禀，没有毒素免疫的技能。我现在吃饭都尽量清淡，让自己保持一个良好的心情。但是不得不说，这种文字，一不小心会上瘾。</p>

<p>当初看冯唐的文字也是主要对这个人好奇，第一次注意到这个人竟然是出自完全是两个极端的柴静的一篇博客。柴静的观察类文字我一直很喜欢，细腻冷静，永远是第三视角的母性关怀式的感悟，白色的文字有股无味的百合花的味道。与冯唐三分熟带着血丝，被切的方正的厚厚的菲力牛排根本就不是一个世界的产物。真不知道这两个人怎么聊到一块去的。在那篇文章中我第一次感受到了冯唐的邪气十足的文字，印象极为深刻，十七岁的冯唐，半大孩子，写下了“我没有下体，也能把你燃烧。”</p>

<p>接着我就对这个人开始感兴趣了。他的某个女友都不得不承认他是个很容易招女孩子喜欢的类型。我就很像知道什么叫做“很容易招女孩子喜欢的类型”。凭什么我不是。读了小半本我就明白了，冯唐，你丫就是个流氓。</p>

<p>就感觉现在就是个流氓当道的时代，好人都没有肉吃。看着流氓们满嘴油光，真不知道是该悲哀谁。</p>

<p>所以有时我就忍不住盼望着自己有一天也可以变成一个流氓，那感觉也许会很爽。抡着jj，四十五度仰望着依旧灿烂的太阳。</p>