<p>我不知道二零一二是不是现实的终结，但我知道二零一二将是理想的开始。</p>

<p>二零一二的关键词是，出国。</p>

<p>这不是一个简单的临时冒出来的想法。这个想法已经出现了很长时间，一直一来却也没有下定决心要走这条路。其实之前一直对在国内创业充满了巨大的热情与好奇心，我很想走出一条不一样的道路。但是最近家里发生的几件事情彻底粉碎了我的想法。</p>

<p>有的时候会很害怕，很害怕自己成为很多年前自己所讨厌的那一类人。每天只是在做别人做过的事情，在我看来这是了一种无生气的人生。我不愿意过一眼就能望穿的人生，整个人生轨迹无比清晰，我都能想象的出十年二十年后我是什么样子。我觉得这样的人生不算人生，更像是在演出上帝已经写好的剧本一样，没有办法体会到人性中的主观能动性。</p>

<p>但是，我真没有多少选择的余地。</p>

<p>我渴望自由的人生，但同时对自我实现也有着强烈的渴望。我说我不在乎别人怎么看，也只是说我不在乎在我走我的路的过程中别人对我的看法。如果当我完成了一件我以为很了不起的事情，我是多么渴望展现给全世界的人去欣赏啊。没有自我实现的人生，真的没有什么活着的意义。</p>

<p>我以为中国虽然遍地肮脏的行为，但也夹杂着明亮的东西，百姓即使愚昧，对好的事物的向往却也十分强烈。在这样大的市场面前，有我广阔的空间。即使环境再恶劣，我也能忍受和处理，因为这是自我实现的最好的舞台。</p>

<p>太难了。我舅舅身上发生的事情让我对在国内实现自我的可能性的最好估计变为了原先的最差估计。</p>

<p>我说过，中国的体制几千年来从未变过。毛当年处于中国转型的最好的时代，但是他把旧的东西扫除后，又把自己放了上去。想来，那群能打翻蒋的牛逼人群中，只有毛一个人没有留学经历。</p>

<p>中国的莫须有罪名当今社会依旧存在。中国古来已有的各种刑讯手段当今依旧存在。你能想象一个180斤的世故圆滑的在里面算是收到优待的大汉100天瘦了50斤，受到的是怎样的待遇么？而罪名都是不知道从哪里拍脑袋想出来的？</p>

<p>原来的一个放荡不羁总是霸气肆意的大汉，变得两眼无光。</p>

<p>我不能想象我性格偏硬，不喜圆滑世故的人遇到同样的情况，我会怎样。</p>

<p>二零一二我要变得更为积极，消除或是转化负面情绪，我要成为正面情绪的源泉。</p>

<p>我要将身体调整的更为有力量，不能让身体束缚我的积极行动。</p>

<p>我要离开我曾经热爱的土地，等我成长到足够改变你我再回来，也可能三两年，也可能一辈子。</p>