<p>What can change the nature of a man? 这是《异域镇魂曲》中贯穿整个游戏的一个问题。</p>

<p>这个游戏从高中的时候就开始玩了，断断续续玩了三年。由于剧情太庞杂，半途而废又重新来过了好几次。暑假的时候下决心要彻底把这个游戏了结了。</p>

<p>想来在我丑陋的文字下，就是原先有点意愿要玩的人也要打消念头了，所以剧透什么的，应该就无所谓了吧。</p>

<p>首先，他大概是史上最丑的男主角。</p>

<p>一个满身疤痕的男人，一个有无数经历的男人，一个无法死亡的男人。每次死亡身体都会自动痊愈并在某处醒来。但是相伴的，肉体是不朽的，精神是缺失的。每次死亡都会让记忆破损，渐渐地会忘记自己。他在停尸间醒来，周围是被施加魔法而行动的僵尸工人，还有一个主动向他说话的漂浮的骷髅头。你不知道你是谁，不知道自己为什么会在这里，你只能自称为 Nameless 无名氏，你只能去探索这个世界，在真诚与谎言，秩序与混乱，善良与邪恶之间找到自己的答案。</p>

<p>他们说他的苦难会吸引苦难的人，像是大天使乌瑞尔的七条宇宙法则中的吸引力法则一样。你会遇到很多朋友，他们被你所吸引而与你一同旅行，甚至不知道为什么如此。</p>

<p>你渐渐发现这个世界比你想像的要大得多，要复杂的多，你需要在对话中仔细地甄别，人们因为自己的理由而说着唱诗班一样的语言。你发现发现真相有时候是如此的困难，甚至是不可能的⋯⋯每次你回忆起一点记忆，每一次你更接近于真相，你都会获得大量的经验，传统RPG中的练级是没有意义的。杀死一群怪兽可能获得几千的经验值，而完成对自己命运的探索的一个任务会给你带来上万的经验；金钱也是没有太大影响的，因为没有太多值得去买的。用暴力去解决最终大Boss是不明智的，如果智慧值够高，可以直接说服他和你融合，而他正是你自己原本的一部分，你的凡人性。对一个人来说，更重要的大概并不是追求某些数值上的东西，更重要的是对自己理解，<strong>知道</strong>自己是怎样的人，<strong>知道</strong>自己是谁。</p>

<p>记得游戏中的一个细节。在很前期的时候，如果你把一个很不起眼的小小的任务道具一个铜球保存在身上的话，在最终游戏之前，你会惊讶的发现，这个小小的铜球，记录着你最原始的记忆，你花了好几辈子的时间去寻找它。我记得当时我几乎把所有的任务都做完了，获得了250W左右的经验，18级。在这个回忆中，你回忆起了很多重要的原始的回忆，更重要的是，想起了你自己的名字，你获得了人生的核心，存在的钩子。为此获得了200W的经验⋯⋯一个人可以隐藏自己的名字，但是不可以失去自己的名字，不然的话，所有的知识将无从依附。</p>
<hr />
<p>这游戏沉重的主题，厚重的文字，庞杂的世界观，在这个充满异界的故事中，形形色色的人因为各种各样的原因，持有各种各样的观点，对世界观与价值观一次又一次的冲击。生死与真实，不朽者的痛苦。一个人要几辈子才能“知道”自己？才能无畏的行动？无名氏为了找到答案，不惜将自己的凡人性剥离出去，每一次死亡都会吞噬掉一个灵魂，让其成为悔恨的亡灵，再用悔恨将自己的凡人性囚禁在反物质星球的悔恨要塞之中。最终，他放弃了不朽，重新与自己的凡人性融合，去面对自己本来就应该面对的命运与惩罚。他终于<strong>了解</strong>了自己。</p>

<blockquote>
<p>从前，有一名女巫，拥有非常强大的法力。她总是在问别人一个问题：What can change the nature of a man（什么可以改变一个人的本质）? 她不停地问别人这个问题，不能给她满意答复的人，就被她杀掉。解答者们畏惧她的力量，便揣摩她的心思，希望可以从她的只言片语中找到蛛丝马迹。然而这些人，在回答问题之前便被她杀掉了——她讨厌心机重的人。于是，没有人可以回答她的问题，她永远也找不到答案。 于是她去质问这个世界的统治者，然而她用她的力量挑战了错误的对手。她没有得到答案，只是被放逐到无尽的迷宫之中，去思考她的问题。 多年之后，一个男人来到了她的迷宫，轻易地回答出她的问题。她得到了她想要的答案。 其实，多年以来，她在寻求的，不是这个问题的答案，而是她所心爱的男人对这个问题的回答。那个男人就是她所爱的人。 多年以来，她问过无数的人，并在他们回答之前将他们杀死；而实际上，她只需要一个人的答案。 而具体答案是什么，并不重要。</p>
</blockquote>

<blockquote>
<p>What can change the nature of a man？ 人的本质又是什么？</p>
</blockquote>

<blockquote>
<p>你很强壮，能够一个人打倒五头牛。你可以轻而易举地把一个成年人举起来，可以跑过一个又一个山头大气不喘。 有一天，你生了一种怪病，再也不能自己行走了。 那么，强壮是你的本质吗？</p>
</blockquote>

<blockquote>
<p>你很聪明，十个人也辩不过你。你可以看透别人的心思，你可以理解最深奥的数学。 有一天，你被关到一个暗无天日的牢房中。日复一日，没有人和你说话。 逐渐地，你变得迟钝，变得既不能思考也不能表达。 那么，聪明是你的本质吗？</p>
</blockquote>

<blockquote>
<p>你很善良，总是温柔地对待别人，总是帮助那些有困难，不管自己有多贫困。 有一天你最信任的人背叛了你，你不能忍受，杀了他。 那么，善良是你的本质吗？</p>
</blockquote>

<blockquote>
<p>你爱一个人，过了多年以后，变得不爱。 那么，爱是你的本质吗？</p>
</blockquote>

<blockquote>
<p>你很强壮，你很聪明，你很善良，你爱。 一个人了解你的强壮，聪明，善良和爱。 那么，他了解你的本质吗？</p>
</blockquote>
<hr />
<p>不朽，immortal /ɪˈmɔːtl/ ，发音跟日语的 妹(imoto) 应该是一样的⋯⋯Immortal imoto⋯⋯不朽你妹⋯⋯</p>

<p>想起自己以前把妹是各种顺风顺水，可谓手到擒来，只有我把人家推开的道理，没有别人拒绝我的理由。 <br />但是从高中起就遭遇一连串的失败，看来魅力可不是我的本质的一部分。 <br />有的时候我就想，会不会是自己以前伤了太多女生的心，现在都报应回来了⋯⋯如果要是按照1：1的比率来还，再加上现在的把妹速率，基本上三十岁以前是没有戏了⋯⋯ <br />后来想到我从小学开始玩各种恋爱养成类游戏，一直到高中搞竞赛为止。然后从高中起就开始挫折训练了，是不是有点巧合？不过，毕竟没有相对参考实验组，也说不上到底能决定几分。 <br />不过想来还是有些道理的，毕竟就像我的演讲能力一样，在高中到大学的这几年里，退化速度让人气愤。能力与知识都是脱离于本质之外的东西，会随着时间而消磨。 <br />就像一种情感，你不能指望它能像沙漠里的一株柏杨一样不用栽培不用呵护就能生存下来，还能茁壮成长。它更像是一块在沙漠中的石头，硬，但是也扛不住几年的日晒风吹就会变成漂泊的黄沙。时间会消磨一切，但我们在誓死抵抗。</p>

<p>曾经沧海难为水，除却巫山不是云。突然心情变的很平静，又有点愉悦。</p>

<p>该面对的东西，几辈子也逃脱不了。反倒是会将自己也囚禁在悔恨要塞之中。</p>

<p>这个结局是我看另外一个人录制的solo通关视频中看到的结局（暴力隐身流，一小时通关啊同学⋯⋯），他并没有融合掉所有的分身，并没有找回自己的记忆和名字，而他对自己的凡人性说的这个答案是：</p>

<blockquote>
<p>&#8220;If there is anything I have learned in my travels across the Planes, it is that many things may change the nature of a man. <br />Whether regret, or love, or revenge or fear &#8211; whatever you believe can change the nature of a man, can.&#8221;</p>
</blockquote>

<p>而我玩的结局由于智商较高（被我刷满了⋯⋯）吸收了所有分身，找回了全部记忆和原本的名字，这个结局中对自己的凡人性说的就是：</p>

<blockquote>
<p>Only regret can change the nature of a man. <br />悔恨会让你对构成现在的自己的过去产生否定。</p>
</blockquote>

<p>每写下一点文字，就觉得自己的经验值增加了一点，希望能早日升级，我的擎天柱已经饥渴难耐了。</p>