<p>之前有段时间过的很愉快，但是回过头想想自己却并没有变强多少。 所以这种幸福感不过是来源于自己的需求降低到自己的能力水平得到的满足。 这种满足是虚假的，无用的。 所以我要变强，要改变世界，否则我一定会后悔，一定会在自己老去的时候大骂自己是懒惰无为、畏惧世界。</p>

<p>创业不是要做下一个乔布斯这么大话，创业也不像老一辈看得那么没有前途。 它很苦逼，创业家们只是不得不去。就像有本书叫做《不去会死》，仅此而已。</p>

<p>所以我要变强，这个世界还有很多我想要的却得不到的东西。 我怎能容许自己降低需求获得满足感？ 唯一的路就是提升实力。这个世界关乎两个东西：Power and Control。</p>

<p>立世、立业、立言。</p>

<p>立此为证。</p>