<p>年初的时候，我给自己定了一个目标，要在今年年内完成精神独立和物质独立两项成就，这个是我在上大学以来就一直抱有的期望。 精神独立方面，要让自己拥有足够的正能量，学会如何独立的控制自己的情绪和生活节奏。最好能够充足到可以分享给他人一些正能量，为他人带来一些快乐。 物质独立方面，就是简单的不需要家人提供生活费为标准。</p>

<p>回首2012年，挫折仍然不少，失败的仍然失败的一塌糊涂，更要命的是一些年轻时犯下的错误也一并找到我的头上，开始报复我当年的不在意。 不过虽然打击一直都在，心态却在这个过程中越来越趋近于平和。 我觉得现在的我，才敢叫自己的心态为平和。 这个宇宙的法则就是熵增，所有的事物都是趋于混沌和消散，要意识到人只有付出努力才能够刚刚保持现状，要想进步亦要付出更大的努力。 我失败，我一直失败，但我从来不觉得自己是屌丝，我觉得只有自己认为自己是屌丝，并总是以此来自嘲逃避的人才是真正的屌丝。 我一直在努力理解我自己，理解我周围的世界，理解我的需求跟这个世界的需求之间的交集在什么地方，努力以最小代价改变自己来适应这个世界。 虽然我一直在失败，但我从来没放弃，也没有因此而处于焦虑的情绪之中，我坦然的面对堆在自己面前的问题，我唯一在乎的只是如何解决它，而不是如何抱怨它。</p>

<p>就这一点来说，我对自己很满意。</p>

<p>2012年，3月份的时候离开 GitCafe，之后做过两个小网站，小赚了一笔，人生第一次拥有自己完全支配的财富，购买了自己想要的东西而只需要考虑自己是否真的需要它，而不用煞费苦心的想怎么去给母上解释这个东西对我到底有什么用处。</p>

<p>之后的准备出国，其实自己一直没有放在心上。出国这件事中基本上都是母上的说服在推动着。 虽然理智上自己可以认同出国的确是我的最优选择，但是内心深处总是有一种抗拒。 后来我在想这个问题的时候感觉，自己考虑的可能不是出国还是工作的问题，而是能不能自己规划自己的人生的问题。</p>

<p>母上很强势，但又从来不动粗很少动用权威，而是讲道理。 这个其实很难缠，因为讲不过，母上在说服上基本上可以说是专业人士，而且眼光又好。 所以当我发现自己讲道理讲不过，自己不服气强行按自己的路子走下来总是没有母上指出的路子好的时候，自己的内心深处有一种深深的绝望。 就像是孙猴子逃不过五指山。</p>

<p>这个其实就是叛逆心理吧。其实，挺没用的东西。</p>

<p>这不是妥协，而是认清楚自己的需求没有跟外界的规则相冲突，认清楚自己能够找到立足的地方。</p>

<p>这个世界变化太快，我有些跟不上。</p>

<p>不过所谓太快，其实也是因为我所了解的世界不是这个世界的真实，还有其实我是一个人类无法摆脱自己的情感完全客观的看这个世界，这两个问题。 太快，不过是冲击太大，这个世界我还未曾了解的部分滚涌而来而我没有预料。 所以即使我接受了它们，也没有足够的时间去了解它们。 我迷惑，但是没有人会察觉。</p>

<p>前些日子看 @forresty 福叔的博客，记得福叔年初或是去年的一篇博客说接下来计划修炼英语直到超越母语的水平。 那篇博客就是英语写的，很流畅，很多地方已经有 native 的感觉。福叔在他自己的路上走的很快。</p>

<p>很像总结，其实也就是在回顾，自己像毛姆的小说《刀锋》中的主人公一样，面对这个世界致力于找到自己真正需要的东西。 在这个过程中发展自己的生存主义。 福叔说，要极简。</p>

<p>所谓极简主义，就是 Minimalist。凡是不必须的，一律砍掉不要。节省精力到自己真正关注的地方上去。福叔把SNS几乎完全砍去。 现在的我并不完全赞同这种想法，走极端基本没有好结果，关键在于找到这个度，平衡点。而这个要更难一些。</p>

<p>凌晨2点，胃里充斥着酒精，脑袋极度不清醒。</p>

<p>(´º)</p>

<p>2013-01-01 01:47</p>