<p>在元宵节这一天回到了上海。走进地铁站，湿冷的空气凛凛地吹过，顿时感觉到了和北方不一样的气氛。 晚上一个人走在空荡荡的校园中，又是一轮圆月挂在空中，人们说十五的月亮十六圆，视感究竟有多少实感是个暧昧的问题。</p>

<p>假期配了一个新的眼镜。自从上一个眼镜莫名其妙的遗失了之后，天生对眼镜有所抵触的我借此机会远离了眼镜。近视程度并不高，模糊的世界也并没有给我带来太多直接的麻烦，自信于这个世界就算我看不清它，也没有什么可能会伤害到我。可其实还是被隐性攻击了，太多细小的影响，像是鞋里的一粒沙，留之烦心，顾之费事。</p>

<p>那还是配一个吧，我也享受一下良好的视力。</p>

<p>一个镜片贵也贵不到哪去，一两百顶头了；反倒是镜框从一百到数千不等。个中猫腻着实是看不透，拎不清。</p>

<p>戴上眼镜，世界霎那间变得不大一样，清晰的有些诡异。距离感变得奇怪，之前的经验变得无所适从。 头晕。我知道这是我还没有适应它的缘故。而当我真的有些适应了的时候，摘下眼镜视线再次弯曲，伴随有新的眩晕感冲击而来。</p>

<p>想起《沙耶之歌》，众人眼中的正常在主人公眼中是些异常；而当主人公看到一个认识范畴中的正常之时，自然对于众人来说这就是异常。问题是如何去衡量正常与否？</p>

<p>马克思信奉唯物主义。唯物主义说物体是客观存在的，不随主观意象的改变而改变。可是我们认识这个世界的方式不就是通过各种器官接受信息，再由大脑处理得来的么？就连我们了解他人对这个世界的认识，也是从别人散发出来的信息自己处理而来的。</p>

<p>你所看到的月亮真的是圆的么？会不会是空气密度不均带来的折射效果？</p>

<p>你所看到的月亮真的是蓝的么？会不会是镜片角度倾斜带来的色散效果？</p>

<p>大道不可道，一道就过，一过就破，一破就错。这文章大概错了吧。</p>

<p>你说写博客的人是个什么心理呢？</p>