<p>一年没有写过博客了吧。看看之前Blogspot上面我竟然能写出一篇数百字的文章，自己看看都觉得惊奇。</p>

<ol>
<li>Emacs越来越让我有我在操纵机器的实感，与notepad的弱智与text-mate追求的人性化不同，emacs真实的让我感觉到了一个机器，一个传统机器所应有的实感。就像是在播放一部老旧的电影一般，让人联想起站在Eniac面前的程序员们，啊，他们其实应该称呼为科学家。</li>
</ol>

<p>* 北方下雪了。今年从上海回来的那天上海下起了大雪，对于上海来说这绝对是大雪。只是落在路上就化开了，草地上还好，路上湿漉漉的，感觉很咸湿。有些水又把下落的雪花又冻在一起，一个大冰坨。会到家没几天就看到了真正的北方的雪，下下来，还是雪，化不开，冷得很，干爽，坚定。到头来还是喜欢北方的雪，北方的白色。安静，平和，坚定。</p>

<ul>
<li>现在在写Rails，rails是一个很好用的工具。快速生成一个网站的基础框架，又易于修改，不同于CMS。他很多时候知道你需要的是什么，就跟调教后的emacs一样。这种灵性有时让人觉得有种人的味道在里面。</li>
</ul>

<p>* 写博客的确可以让人静下心来整理整理东西，这个的确是微博所不可能替代的。好习惯贵在坚持。</p>

<p>* 人生至此告一段落，新的篇章还在酝酿。人们都说挫折使人成长，我要成长了；人们说挫折越大成长越快，嗯，我现在成长的导数都快要飞了。</p>

<ul>
<li>
<p>我知道我现在就是一个B，可我是一个面向北方的B，是的，我从S走来，我现在要开始向N走了。</p>
</li>

<li>
<p>还提政治问题，我还是想提政治问题。这个东西在中国说敏感也敏感说不敏感也可以不当回事。愤青什么的那都是当年的了。我不愤怒了，我也不是青年了。我只是仍然想知道，这些个问题究竟tmd怎么解决。</p>
</li>
</ul>

<p>* 人权、送礼、社会不平等。中国人成天骂这些问题，可自己到那个关头依旧挤破脑袋去当之前自己骂的正欢的公务员。中国人不是想要平等，只是想要身处不平等中的有利位置罢了。遇到这些人，我也想骂，张嘴之前自己也乖乖把嘴闭上了。</p>

<ul>
<li>记得有人问，太贫太富都不好，何处是个准？林语堂答曰，“穷不至于穷到付不出房租，富也不至于富到完全不做工”。我扩展一个，穷，你丫就乖乖独善其身，富，你tmd再去兼济天下。</li>
</ul>

<p>* 现在开始做阅读了。课外阅读貌似从我小学后就几乎完全停滞。初中爱看电影，高中瞎搞竞赛。貌似小学超级沉迷游戏，这么说来搞不好我从幼儿园毕业后没多久课外阅读就断掉了……真是惭愧。初中超级喜欢演讲，讲了一堆又一堆，也算的上拯救了我的语言能力，没有让它任时间来消磨。高中基本就是惨淡经营，语言能力退化速度实在令人吃惊，多久多久，上了大学才渐渐意识到，能写出很长一段文字，尤其希望他不是废话连篇而是有些价值是多么的不易。</p>

<p>一次只写十条，想到那，写到那。写完为止，明天继续。</p>