<blockquote>
<p>能说荤段子是每个男人的基本功，但是不是每个男人都能看到段子背后那些庄重的东西。</p>

<p>－－圣斯坦丁挪威其•万巴索伦•丈八兔司机《那些失落的荤段子》</p>
</blockquote>

<p>最近看的《佛祖在一号线》，李海鹏讲到“在豆瓣网，我参加了搞笑新闻小组，也参加了悲惨新闻小组，我发现两边儿的新闻都其实差不多。我越来越能嬉笑着看待悲伤，也越来越能庄重地对待笑话了。⋯⋯心理学家说嘲笑是对恐惧地回应，我觉得说的蛮对。如今在网络上，在饭桌上，人们嘲笑得比任何时候都多，又从没有过地不安。”</p>

<p>两年前开始说相声。读过学长写的相声的搞笑原理，有什么虚张声势，哗众取宠，三翻四抖，逻辑错误，基本是没搞懂，但是有一个分类很是奇怪，叫做本身好笑。这一类的笑其实很单纯，就像是看到一群人阳光灿烂的开怀大笑的时候，你也忍不住要微笑起来一样，没有傲慢与偏见或是无趣的优越感，就是简简单单的开心。</p>

<p>但在政治领域中最常见的一类搞笑方式叫做讽刺，又叫嘲讽啊。是用明显不真实的描述方式来暴露对象的缺点与可笑之处。嘲讽或多或少都是有点负面情感在里面，让人忍不住注意到那些被笑地对象地心情，突然也就笑不出来了。却也不是陷入悲伤或是怎样，只是体会到这种心情之后会平静下来，感慨一下。或多或少有些显得不近人情，波澜不惊，不惊是因为能够了解，能够平静地去接受。</p>

<p>其实所有的极致的情感，其最原始的根源都是一样的。无名无状地浑缴在一起。</p>

<p>这样想来，所谓的负面情感也是能看到正面积极的笑点出来。Uaral的专辑《Sounds of Pain》的一首歌叫Depression，在这首歌中每次那仿佛恶魔般的沙哑低沉的呢喃的男声出现的时候我就想笑，仿佛像是看到一只感觉自己是只狮子的小狗张牙舞爪的在我面前模拟雄狮的声音一样，想像着一脚把它踢进草丛后的样子，就忍不住笑出声来。</p>