<p>快要新的一年了，寡人的博客也就上线了。</p>

<p>肯定有人跟我抱怨网速如何如何慢，如何如何登陆不上来，可是你既然能看到这篇博客，就说明你很幸运还能登陆上来，多少人想看还看不着呢。我以为，酒，要一杯一杯的喝，博客，要一点一点的看，看的太快容易神经错乱。为了您的身心健康，看看我博客的边栏友情提示。</p>

<p>该独立博客系统是利用开源免费的<a href='http://www.ruby-lang.org/zh_cn/'><code>Ruby</code></a>语言在开源免费的<a href='https://github.com/cloudhead/toto'><code>Toto</code></a>博客组件以及开源免费的<a href='http://github.com/cloudhead/dorothy'><code>Dorothy</code></a>模版组件的基础上Hack出来并运行在免费的<a href='http://www.heroku.com/'><code>Heroku</code></a>云计算平台和免费的<a href='http://www.dot.tk/'><code>dotTK</code></a>域名提供商的环境中。</p>

<p>说来十分惭愧，这个系统的诞生简直是一波三折，说真的，作为他的爹，他的出生完全在计划之外。</p>

<p>假期初想要写网站，当时的想法要大的多，想要写个能在学校推广的网站，后来想想步子太大，为了元蛋的安全，还是先来个小的东西吧。正好接触<a href='http://www.rubyonrails.org/'><code>Rails</code></a>，就拿<code>Rails</code>写个独立博客吧。</p>

<p><code>Rails</code>不好驾驭。这个东西很新，新到不仅没有中文文档，连英文资料也屈指可数，只有庞大的官方手册可看。看的都要吐了，想想今年过年看春晚的时候还得吐，得留点货到时候再吐图个兔年吉祥，于是就不吐了。索性把开发环境推倒重来，不成功，便成仁。</p>

<p>然后成仁了。</p>

<p>在网上搜索组件的时候看到了很多其他人的东西，突然看到一篇博客叫“Setup a Blog System in 5 Minutes”里写到了非<code>Rails</code>的精简blog模版，同样是基于<code>Ruby</code>的。眼前一亮，接着一搜，一个更狠的出现了“Blog in 30 seconds”。3条指令改一个文件，你就可以开始写博客了！这篇文章让我把我之前的成果推倒重来。后来结果证实秒速5kb的下载决定了30秒神马的绝对不够用。</p>

<p><code>Toto</code>是个不错的模版，名字听着都兔年吉祥。模版名字叫<code>Dorothy</code>。喜欢电影或是外国名著的童鞋一定知道，Dorothy有个宠物叫Toto，他们生活在绿野仙踪里。</p>

<p>一上来中文就出问题了。这也不怪人家，那篇博客作者压根就没考虑中文问题，反正他也不会中文。<code>Google</code>了一下，只有一篇文章提到了这个问题，那个作者硬Hack出来的。想想干脆自己Hack掉<code>Toto</code>的源文件算了。</p>

<p>就Hack掉了。改动真的不多，但是涉及的部分很多，调试了很久，好歹算是搞定了。之间还想为之搞一个格式脚本解释器，后来发现现有东西的组合可以解决当前问题，果断<code>rm *</code>永久删除。</p>

<p>之后就是界面视图。这个我最喜欢。玩风格一向是个自我娱乐的勾当。加入一些css3的东西，<code>IE</code>果断不支持，我也就果断放弃<code>IE</code>。使用IE的童鞋们有些特效是看不到滴，只保证Chrome的效果，因为我只有这个，其他的浏览器尽量支持，不过我是没法测试哒。</p>

<p>为了我的Logo加入了<code>Google Web Fonts</code>让大家没装字体包也可以欣赏这些美丽的字体。主界面模版基本上完全重构了，可怜的Dorothy只能永远的活在仙踪里面了。</p>

<p>唯一不开源但是免费的就是评论系统，这个懒得自己写了，就使用了<a href='http://disqus.com/'><code>Disqus</code></a>的在线评论系统。</p>

<p>人生不息，折腾不止，以后会一点一点改善这个系统的。哼，等有时间我把<code>Toto</code>也给重构了，要不干脆自己也写个好了，反正也才几百行代码的事。</p>

<p>以后博客就先发到这里了。</p>

<p>新的路程的起点就在此启航，巧遇新的一年也即将开始。新程遇岁。嗯，希望这个博客能带来好运。</p>

<h2 id='id26'>再次预祝大家新春快乐~</h2>