<p>最近情绪很不稳定。总有种恍然隔世的感觉，给很多人发的邮件都没有回音，发tweet没有回复，约人聊天都有事情或是回家或是出门，感觉突然之间周围一切事情都石沉大海一般，像是突然之间变成隐身人一般，失去了真实的感觉。有一种被遗忘的孤独感。</p>

<p>大概是我的负面情绪又出现了吧。不过很奇怪，自己平静的很。</p>

<p>这些都是小事情没错，但就像是蜘蛛网一样可以把你一点点缠住，下盘螺旋。</p>

<p>联想最近的事件和心情，在想是不是自己的荷尔蒙在作祟。 人到了这个年级，荷尔蒙爆发，加上周围环境对这类事件原本的打压和收紧也都变得宽松甚至习以为常，这方面的需求就像是被政策刺激下的中国经济一般，或有或无，吃拿不准。不断积攒的荷尔蒙会不会随着时间的推移腐烂掉？在寒冬时节发出冰冷的腐味？</p>

<p>明显感觉这几天荷尔蒙压制不住了，身心混乱，节奏全无，都不知道自己在干什么。 在看三体？在复习？看电影？打游戏？上网？好像都是好像又都不是。 最奇怪的还是自己竟然很平静。平静的都不真实了。</p>

<p>荷尔蒙这个东西据说是支撑性爱冲动的主要来源。</p>

<h2 id='id27'>性爱</h2>

<p>一食二色，人之根本。 男欢女爱本就是人之常情，生物本能。人若是没有性欲，那早就灭亡了。也就是说，人类能一代代传承，得以进化到现在，最根本的机制就在于此。 这都是老生常谈的话题了。</p>

<p>肉蒲团，金瓶梅。中国历史上两大奇葩之作，描述极尽的性欲来阻止人们追求无尽的性欲。 肉蒲团开卷第一回：</p>

<p>&#62;止淫风借淫事说法　 谈色事就色欲开端</p>

<p>而金瓶梅开卷作者兰陵笑笑生在序言中就谈说：</p>

<p>&#62;著读《金瓶梅》而生怜悯心者，菩萨也；</p>

<p>&#62;生畏惧心者，君子也；</p>

<p>&#62;生欢喜心者，小人也；</p>

<p>&#62;生效法心者，乃禽兽耳。</p>

<p>&#62;若有人识得此意，方许他读《金瓶梅》也。</p>

<p>&#62;奉劝世人，勿为西门庆之后车！</p>

<p>说的干净利落。</p>

<p>其实男女之间的很多问题都是源于男女本身的生物本能与价值观的差异。 比如说，性爱的过程中，男方偏重于性，而女方偏重于爱。如果有人期望一边倒的话，这个过程对于另一方就是彻底的痛苦。 记得有人说过，如果你让一个女人彻底喜欢上你，你怎么搞她她都会觉得很愉悦；反之如果一个女人讨厌你，你碰一下她她都痛苦的想死。 所以，更多的不是技巧问题，而是根本上“是”与“不是”的关系。所以，男人搞不懂女人，因为这完全没逻辑。</p>

<p>没逻辑其实不是个大问题，如果一个女生给男生讲逻辑道理，我想大多数男生都会如临大敌的。</p>

<p>下周的年会决定要唱 左小诅咒的《野合万事兴》。我觉得人类就应该像这首歌的歌词一样热爱性爱，而没有淫秽的味道。 所谓诗经中的“乐而不淫”这种意味。</p>

<p>我发现自己总能从女孩的身上嗅到一种特殊的味道，而且只在女孩的身上，气味相似而又不尽相同。半米到一米之间，气味会突然变得浓烈起来。这明显不是洗发水沐浴露之辈的东西。我把它们归结为“雌性荷尔蒙”的味道，虽然我也不知道“雌性荷尔蒙”是什么味道，但我就是觉得，这就是“雌性荷尔蒙”。</p>

<p>猎人总是对猎物的气味更为敏感的吧。这绝对是从身体的每个细胞中散发出来的渴望。像嗅到血腥味的大白鲨，精明的转身，优雅的袭来，每次硌崩的牙齿也都有两排备用的随时替补上来，一切的一切都是为了猎物的到来。</p>

<h2 id='id28'>家庭</h2>

<p>本着“阴为体，阳为用”的原则，我对女性在这个世界上的地位是极为重视的。</p>

<p>在我的世界观中，世界是以女性为中心的世界。何况还有一句很流行的话叫“男人征服世界，女人征服男人”赤裸裸的食物链。 当然，这并不表示我是一个女权主义者，和大男人主义之类的绝不相干，而恰恰相反，我的男人主义倾向还挺明显的，但这并不矛盾。 男人在决策层上需要成为主导，是因为在日益复杂的社会环境中，对中长远的规划与前瞻性愈发重要，而这正是男性的长处和女性的短处。 但是决策本身是主要对女性负责的，就是那个称为“老婆”的人。</p>

<p>家庭结构就是男人作为最外环，负责获取最原始的资源，女人被包裹其中，负责资源重组，孩子才是真正的核心。 其实家庭就是为孩子提供生长和成长的资源与环境而存在的。 如果没有这个中心，四处风流的男人看似风光却注定一辈子漂泊。我觉得这更需要勇气。</p>

<p>从女人的视角来看，男人都是大色狼，都是花心大萝卜。 这话是没错。但是背后是女人其实不讨厌男人色色的，只要都是对着自己，说白了就是资源垄断； 而男人的花心是进化遗留问题，在野生环境中雄性的死亡率一直居高不下，如果幸存的雄性不大规模传播的话，种族幸存率绝对是个问题。 所以其实花心不是男人的本质，种族幸存才是最重要的。不孝有三，无后为大。这是每个男人都要重视的问题。</p>

<p>在这个生活成本越来越高的社会中，钱并非真的是人所需要的所有资源，钱能搞定很多问题，但是有些问题用钱解决会更麻烦。 为了更好的未来，男人要控制自己的荷尔蒙。这是个违背生理需求但顺应生物繁衍本能的事情，说简单也简单，说困难也困难。</p>

<p>所以男人爱性却可能不性，有的时候男人宁愿自己摇杆也不愿意碰不想碰的女人。自己决定吧，爱性不性。</p>