<p>今天的博客肯定有人要骂我故弄玄虚神马的。抱歉，我不想说的太具体。昨天折腾rails blogger，没写。今天早上则是感觉写不下去。但还是写了。人多少都需要一点小发泄的途径，来找一点广义的平衡感，写完多少会有些舒心吧。</p>

<ol>
<li>头痛。这是纯粹的理想主义覆灭的一天，得记住。像我这样单纯的理想了20年竟然还活在世上，回头想想实在是不可思议。有理想没有错，错在只有理想，理想很美好，美好到会像小时候打游戏一样上瘾，从习惯到上瘾，不知不觉，没有征兆。</li>
</ol>

<p>* 过分的理想主义基本上就是幻想主义。我妈说我讨论起来问题感觉很飘渺，很遥远，很不真切。记得我曾经说过，我很害怕在脑海中过多思念一个人，而在现实中看不见，这样那个人的形象就会在我的脑海中存活，在我的世界中成长变化，不断变化，以至与现实脱节。现在捶胸忿恨，自己怎么意识到了这一点却忘了在我身上这根本就是无处不在的问题。</p>

<p>* 与现实脱节。一个人的成长经验应该依赖于在现实中积累下来的事实加以总结得来的规律，这叫归纳。而我依赖的基本是演绎。我曾经觉得我的大脑就是一个模拟器，做物理化学题目的时候很好用，不做实验也能真切的“看到”结果。真的是能看到。语文老师会把这个解释为“通感”，算是个语言现象。通感于我着实比较常见了，经常发生，看到声音，看到气味，闻到色彩和听到色彩。这真的是一个很便利的技能。不过之后大概就喜欢上了这种思维活动，大概还有一段时间引以为豪吧，渐渐的只依赖与演绎所带来的结论，而忽视了去发掘真实世界究竟几何的意识。依赖演绎，只依赖演绎。</p>

<p>* 这就叫做空想主义。</p>

<p>* 太依赖了，太依赖了。人在世上不依赖其他事物是活不下去的。不过经济学家会字正腔圆的告诉你，不要把鸡蛋放到一个篮子里去。这是一个平衡问题。</p>

<p>* 就像一个富有才气的建筑师，设计无数漂亮的图纸，缺少现实的砖泥瓦砾。</p>

<p>* 于是他成不了优秀的建筑师。未曾有人看到的东西，这样东西就不曾存在。</p>

<p>* 人要学会认错。只有认了错，才能放下包袱更好的前进。不然总是做一些不靠谱的事情来维护自己的面子或是形象什么的，错过了更加美好的事物，这比犯错本身更加错误。</p>

<p>* 面对这个痛苦的世界，我想闭上眼睛，默默流泪。不过当我意识到等我睁开眼睛的时候，痛苦的世界还是痛苦的世界，我赶紧把眼睛睁开了。</p>

<p>* 我要拼一段时间。我想看看自己能力的真实上限。如果一件事情，我认真做了，却带来不好的影响，那是这件事情的问题，说明他不适合我去做；但是一件事情我没去做，给我带来不好的影响，这根本就是我自己的问题。不喜欢做却必须做的事情，叫做责任。这个东西逃避不了。</p>

<ul>
<li>
<p>自己的决定并不是自己的决定。这个决定并不只影响到你一个人。在这个社交网络中，你的任何举措都牵连着其他人，follow你的人，加你为好友的人，关注你的人，特别关注你的人。我觉得我再也不能说出我，我要做一件事情你不要管我这种话。这根本就是小孩子的任性。</p>
</li>

<li>
<p>拢聚这个世界的方法很简单，学会像冰晶一样，做出一个稳定成型的小冰核，放到一个寒冷的跟你相似的溶液中去，这个冰核自动会成长变大。Facebook的成功在于Mark找到了一片过饱和溶液，then, just a little push.</p>
</li>
</ul>

<p>* 你看，所谓处理现实问题其实也不过如此。去二次开发这个现实世界，重新了解它。像恋人一样去喜欢它。管他理想与现实究竟是主仆关系还是朋友关系，哪怕是基友关系也无所谓，反正他们肯定是我的两条大腿，少了哪个走起路来都会磕磕碰碰的。至于夹在理想与现实之间的敏感问题，我想我会慢慢了解。</p>

<p>* 女人倒可以有些不现实，看不到黑暗却也可以成为优点。我觉得总是不笑的女人绝对是有问题的。女人需要平和的微笑，黑暗什么的交给男人好了。</p>

<p>* 男人就必须要面对现实，即使你觉得那里只有黑暗，不过等眼睛适应了以后，估计你还觉的挺明亮的一环境。嗯，我夜视能力一向很好，走夜路的能力也还不错。</p>

<ul>
<li>20岁的男人一无所有，一颗脑袋，一副皮囊，抽取周围的资源。所有对此投资的人都希冀着真正的巨大的回报，所以我不是自由的小鸟，我也没办法成为自由的鸟，甚至连自由的雄鹰也是不可能的。我只能成为一个人。一不小心成了个人，我就要做一个真正的人。如果有一天有一个人冲过来一拳砸过来说呸你tmd就不是个人，我觉得我可吃不消。一不小心成了男人，我就要做一个真正的男人。不能再拖累别人，我欠他们太多。</li>
</ul>

<p>写到母亲，这博客就写不下去了。</p>