<p>今天是六月六日，端午节。五天前相声剧顺利结束，身上的压力一下子全部卸了下来，从台上下来的时候，腿都软了，之前来自学长的，来自学习的，来自己的压力，在一瞬间，释放彻底。整个人都有一种被升华了的感觉……</p>

<p>被几个表演任务所困，听起来确实不太出息，更何况还都是自己接下来的活计。但是这之中的压力确实是我没有经历过的，而更因为是自己主动接下的事情把自己搞成这样，就更没有任何可以抱怨的余地了。用某学长的话来说，你这是自找的。没错，我确实就是自找的，我想看看我的极限，我最多能同时做到多大的能耐，我不愿意向自己低头。</p>

<p>放下来，也很轻松，我本可以推卸掉其中的一项到两项的。可是我没有，我在坚持，我真的很努力的坚持，最后好在坚持了下来，虽然没有做到什么让我自己感觉出彩的地方，但最终也没有搞砸什么，中间出现的那一堆又一堆的事故，也都得到了完美或是不完美的解决。我知足了。</p>

<p>卸下担子，这两天就过的挺恍惚的。就像是一个死里逃生的人一样，在持续地绷紧神经很长一段时间之后，不期望什么高兴的、兴奋的事情，也就希望能安静的、安心的坐在阳台上，呆呆地看着云彩慢慢的飘啊飘啊，树叶哗啦啦的跳啊跳啊，各种各样的人就在树叶的缝隙里面时隐时现，从树叶这边走进去一个人，然后从另一边走出另外一个人。笑一笑，扭过头，接着看云彩。</p>

<p>我想停下来，可这个世界不会管你，他还在一个劲的往前跑，事情总是处理不完的。新的硬盘到了，折腾了两天，把资源都整理过去了，更换系统盘，又重装了Ubuntu，还是我喜欢的自定义模式，折腾来折腾去。今天才算是安定下来了。</p>

<p>端午节。终于说到这个端午节。</p>

<p>按理说，屈原想不想跳河，他想跳哪条河，跟我是没多大关系的。可是他这一跳让我们多了一天的假期，又多了一个富于意义的食品，实在是千古一跳，就值得歌颂的。 已经嚷嚷了两天要粽子吃，今天就收到了妹子送的。好久好久没有没有从女生手里收到过什么吃的了，上一次真的好像还是初中的事情，即使是礼物貌似上大学之后，正正八经的估计也不超过两次，而且还都跟生日没有任何关系…… 看到别人送的吃的就想到了初中的美好时光，那是人生最幸福的时光，是想有的一切全部都有的时光，有哥们们的结帮，有女生们的暧昧，有门口的小吃一条街，有菜市场里的市井杂烩，有各种各样的成就，有老师的赞许，有校长的重视，有视野的膨胀，有人生的成长。</p>

<p>把粽子吃了吧，虽然它一路奔波都已经凉透了，可它还是粽子，它不会因为温度的降低而变得不是粽子；就像我，不会因为别人的期望而变得不是我一样。 什么长尾巴短尾巴的我分不清楚，对我来说食物只有好吃和不好吃的两种。这没什么明显的界限，甚至有的时候会因为某些意味而使得不好吃的也好吃起来。</p>

<p>写的时候不小心在豆瓣电台上听到的，送给大家吧。很少给博客附音乐，总觉得很蛋疼。不过难得这么和谐的心情。</p>

<p>Pax的《I Say》。我说，你听见了么。 <audio autoplay='autoplay' controls='controls' loop='loop' src='http://static.comic.naver.com/staticImages/COMICWEB/NAVER/bgsound/20081202/isay_320k.mp3'>Pax-I Say</audio></p>

<p>太阳照常升起，它不会因为有乌云的存在而拒绝发光，甚至，它会刺透层层的乌云，来到我的身旁，阳光依旧，我也温暖依旧。It&#8217;s time.</p>