<p>正月初二，瑰丽的烟花在面前啪喳一下绽放。生活就是这么俗气，俗气的遍地都是想说却说不出什么道道的破烂事。这不就是生活么。 ______________________________ 中文叫烟花，汉语拼音yānhuā，英文fireworks，日文花火「はなび」（hanabi）。</p>

<p>有人曾经抱怨说中国人发明了火药却用在放烟花上了，结果外国人学去了，制作成了火炮反过来把中国打趴下了。以此来讽刺中国人不求上进，浪费了千百年的优势。</p>

<p>我说这个人实在是历史素养不高，且不说中国人发明烟花的时候中国是世界第一强国，国富民安，且不说鸦片战争时期中国火炮实力即使不强也不能算弱，且不说被攻破国门更多是因为破烂的政治体制问题，就说这放烟花怎么就不思进取啦，我觉的打炮这事还挺低俗呢。</p>

<p>虽然说和平只是两片肥厚无比的战争吐司间的薄薄一层火腿，那也比炸得黑不溜秋的吐司好吃。科技是双刃剑，不用在美丽的事物上实在是可惜得不止一丁半点。</p>
<hr />
<p>大连的烟花不是除夕的时候放的，是初二的时候在广袤的星海广场上燃放。先是封路，封的水泄不通，出车受到了很大影响，但是你没事初二还能瞎逛什么街么。来星海广场的都是来看烟花的。</p>

<p>星海广场是据说是一个长的像星星的广场，估计跟星海这名字有关。边上是圆环路包围，中间华表小广场，之间是星形散射的连接路。取任意环路积分为零，所以星海广场所处的复平面区域解析，证毕。</p>

<p>中间贯穿南北的一条连接路额外做过装修，路宽道明，仅供行人，地下埋着蛋黄色的照明灯，透过上头的玻璃从脚下射上来，这才是名副其实的星光大道。周围灌木从、散落的小树上挂满了零碎的灯泡，像在北极看星星一样，就是颜色有点不一样。南边有个地面雕塑叫做百年城雕，我们叫它大脚印因为这个雕刻就是一个布满脚印的大铜板。不过这些都跟主题无关，因为烟花就在这脚印上绽放，南边一半的星海广场为此而彻底被封锁了。</p>

<p>美丽的东西多少都有些危险。</p>
<hr />
<p>刚从老家回来，浑身不舒服，本来不打算来看，拗不过我妈的要求，就来了。说实话，大冷天站在外边半小时怎么说也不是个轻松的事，何况北方的气温呢。这些个想法都发生在烟花开始之前。</p>

<p>和往年一样都是计算机数控点放烟花，给烟花安排出场顺序估计是个很有趣的事。 烟火基本上每30秒变换一次形式，每一次登场都带有微妙的韵律感。禁不住给烟花打起了节拍。唉，要是有音乐就更好了。星海广场是有氛围音乐的吧，这时候不放等什么时候啊。</p>

<p>在黑夜中悄然窜上天空，然后噗的一声变成了一个个小精灵，在天空中飞啊飞。一会儿排成N，一会儿排成B。一会变成小虫儿，一会变成刺猬，然后又变成母刺猬，生出小刺猬，小刺猬再变成母刺猬，再生出小刺猬，然后都不见了，我说这公刺猬都哪去了呢。还有挂在天上不动的，就像赖着不想走的霸占舞台的戏子，本来就是个跑龙套的一闪而过，他非要在台上挂个一分钟，让所有的观众还以为他挂了呢。产生机理不要问我，这种延时类装置问本拉登去。</p>

<p>一到这种时候语言就显得格外贫乏。怎么就形容不出来呢。我还在和我弟弟说呢，他说刚才那个像拖布，我说更像花洒吧，他问花洒是啥，我停了几秒说你看这个怎么像狗尾巴草似的。</p>

<p>烟花最后在一片祥和的轰鸣声中结束了，突然觉得这么冷呢。</p>
<hr />
<p>抬头45度仰望星空，如果有一天有个女生和我一起回家过年，我一定要带她看看大连的烟花。</p>