<p>我觉得对于我来说，最好的墓志铭也就只是：“他很痛苦，他很孤独，但他创造了一个时代。”死后的评价也许对于一个人来说毫无意义，但是，在活着的时候，就只是想想也能让自己充满活下去、坚持下去的勇气。</p>

<p>我不知道我能不能创造一个时代，也许不过是痴人的幻想，但我已经预示到了自己的痛苦，自己的孤独。注定要给周围的人带来奇怪的情绪。我所想要的东西，一直以来无论如何变化，终究让大众不太舒服，却又没有差异到人们可以坦然接受这是一个怪人的地步。这真是可怕，我想想都可怕。</p>

<p>我是一个理想主义者，一个没有成就就没有办法活下去的人。我喜欢创造，我喜欢思考，思考别人连思考都未曾有过的事情，这些都是有价值的东西，但是如果他人都不认可、不在乎，那是不是就无法转化成现实的财富？那是不是现实意义上的无价值活动？</p>

<p>我厌恶浑浑噩噩，我厌恶循规蹈矩，甚至对于和其他人做完全一致的事情都有不同程度的反感之情。我渴望与众不同，我想让人们对我展现认可的表情，即使之后他们将之抛到脑后。我渴望的事情越来越多，而同时又越来越认识到自己的渺小。人的精力是有限的，问题是，奉献给谁？</p>

<p>苦痛，就像是一条蟒蛇，你挣扎不开，只能越来越累，可是一旦你停止抵抗，蟒蛇就会收缩，慢慢把你绞死。</p>

<p>有时候我也在想，是不是应该放弃理想主义，去做比如像母亲眼中的有板有眼的规矩生活，让那些幻想消失在摇篮之中。我觉得那样我肯定能做的比一般人要好的多，小生活有滋有味，一天一天细细慢慢地过，妻子孩子肯定成天幸福的像朵花似的。</p>

<p>但更多的时候我在想，一个20岁的男生，放弃了理想，也就一无所有了。</p>

<p>姑娘们，请记住，一个有所谓理想的男生绝对是一个危险的存在。</p>

<p>我喜欢姑娘，我很喜欢姑娘，但是头顶的蓝天，是那样的充满着诱惑。</p>