<p>现在是 Mon Jun 25 05:27:16 2012，我在上海金山。</p>

<p>金山应该算是上海市的一部分，但是距离市中心有4个小时左右的车程。 这里的天然海湾（杭州湾）难看的要命，但是人工围出的沙滩还多少有些水的本色。 村落众多，典型的跃进中但是环境很差的城市。 昨天在坐摩天轮的时候和一个工地的大叔一起坐的，他说他觉得这里挺不错的。典型的跃进中的城市的小市民。</p>

<p>我在沙滩附近着了一家看上去还可以的酒店。 我跟她说我要一间能看到海的房间，上来一看，就能看到海的一个边，再加上空气质量在中国实在是很难堪，海，基本就是模糊一边。</p>

<p>吃过晚饭打算工作两小时，学习两小时。但是发现自己需要互联网上的东西，而我的 Macbook Air 又忘记带有线网卡了。 我完全没有开灯，很快，八点钟的时候就困了。</p>

<p>在学校的时候，我就下决心要九睡五起。但是室友的存在让这个计划难以实现。 他们会开灯，在光亮的刺激下人的意识是很难平静下来的，除非过了很累的一天，否则九点钟中是没有办法困倦下来的。 加上欧洲杯，一个室友每天都要看球，不仅有灯光，时不时的走动还带来了声响。 这些都是会触发人类自我保护意识系统的东西，早睡就是一种奢望。 还有环境的影响，大家都在上网，在这种环境驱动力下，不由自主地就也会一直上网，需要极大的意念才能克服。</p>

<p>事实上，人在长期进化的过程中，已经逐渐适应在黑暗中睡去，在光亮中醒来的生理习惯。这就是，“日出而作，日落而息”。 人在太阳落山的时候自然而然的就会困倦下来，而人工的灯光却试图改变这一趋势，以期望增加人的活动时间。 但事实上，一个成年人如果他想有一个充满精神的第二天的话，无论如何都要保证一天7～8小时的睡眠时间。 而人工光源只不过是拖延了这个时间而已，而使人处于在黑暗中劳作，在光明中睡眠的局面。 人类在上万年的进化中，适应了顺天而行的作息方式，此为顺势而为，改变人类的作息是一种降低效率的行为。</p>

<p>我本来试图用闹铃来强制自己睡眠，9点一个闹铃，5点一个闹铃，没用。只会嫌它烦而已。 但是自己出来，不到九点就困了，不到5点就醒了。后来我查了一下日出时间，我的自然醒时间基本跟日出一致。</p>

<p>所以现在我意识到我很希望有一个自己的住处的原因，我也意识到自己其实并不是不去旅行会死的人。 我向往旅行的意义在于向往一个人的独处，向往的是自由的生活。 而我不喜欢奔波，我喜欢安定。 我不知道，这个结论是不是就是，我想要一个人安定的生活。</p>