<p>“你叫什么名字？”</p>

<p>“我常常揪心于自己内心那些灰蒙蒙的想法，你想听么？”</p>

<p>“问你什么你就答什么，叫什么名字！”</p>

<p>“你不是知道的很清楚么，重要的是，你想听么？“</p>

<p>“……说吧，这不会给你带来什么好处的！”</p>

<p>“人总是莫名奇妙地会产生很多奇怪的想法，想法很多与现实背道而驰，而我们就是想让这些看似不可能的事情变为现实，喂，对吧。”</p>

<p>“站在楼上向下看，总有种想要跳下去的冲动。每次都需要剧烈的意志力来抵抗这种原始冲动。明明知道跳下去会死，明明知道这就是违背常识的事情，还是会有冲动，喂，对吧。”</p>

<p>“没有同感么？尊敬的先生，当你身穿笔挺的西服，打着昂贵的领带，一本正经的走在大街上，前方一位曲线优雅的女士，你的视线还保持笔挺么？当视线下滑的时候脑袋里闪过那诱人的冲动，若不是理智的压制，等那小丑蹦跳出来……喂，对吧。”</p>

<p>“哼，只有你这样的人才有这样的想法。”</p>

<p>“我相信这些冲动都是人性，我相信任何人都逃脱不了。我更相信，如果我的理智有一天突然消失了，对所有人，都不会是一件好事。”</p>

<p>“你已经等不到那一天了。”</p>

<p>“不要一脸鬼笑，死亡不是用来使我害怕的筹码”</p>

<p>“什么都不怕是么，果然是个亡命之徒。”</p>

<p>“我可不是什么亡命之徒。这不是逃亡，这是对抗。”</p>

<p>“对抗？和我们么！”</p>

<p>“你们？不不不，不，不，不，我压根没想过这出……是和我自己。人唯一打不过的就是自己的吧，是谁说的来着，好像有点道理。”</p>

<p>“少鬼扯。”</p>

<p>“咂砸砸，为什么不相信我呢。”</p>

<p>“相信你？哈，这种冷笑话你也敢讲。”</p>

<p>“而我相信，有些冷笑话，随时会发生在身边。”</p>