<h2 id='id38'>共产主义之一定会实现</h2>

<p>不知道用不用澄清一下，我不是党员，我不是五毛，我讨论的是马克思主义共产主义，不是中国特色的共产主义。</p>

<p>甚至我不是从单纯的政治体制来分析的，而且是从广义的系统组织上来考虑&#8221;共产主义&#8221;这个词汇的。 所以从普通物质到细胞到社区到政体，都在这个范畴之内。</p>

<p>特此声明，以免误解。</p>

<h2 id='id39'>共产主义啥特点？</h2>

<p>共产主义的最主要的特点就是，所有的组织内部成员都竭尽所能的发挥自己的能力进行生产，而各自按需获取和使用资源。</p>

<p>这就意味着当可以把组织内部的物质资源的流动，想象成一个流动的网络（不是标准的计算机网络流），每一个成员想象成一个网络节点。 这个节点不能保留任何资源信息，但是可以对资源信息进行加工创造，使其变得更有价值，同时又消耗一定的资源来维持自身的存在。 由于每个节点想要创造价值都要依附于一定的生产资源，而让整个组织的生产资源都流向最需要它的地方，才能使整个系统的生产效率完成最大化。</p>

<p>但是这个系统的前提条件是每个节点都在发挥自己的全部能力</p>

<h2 id='id40'>为什么要共产？</h2>

<p>一句话，为了效率。</p>

<p>假设一个组织是封闭的，我们暂时不考虑与外界的交互。 每一个组织成员都在</p>

<h2 id='id41'>真的能实现？</h2>

<p>已经实现了。</p>

<p>如果我们分析的是广义上的组织系统的话，那么我可以告诉你，我们的身体就是最典型的共产主义社会。 每一个细胞都在做自己最好的努力，</p>

<p>癌变则是头号大敌。</p>

<h2 id='id42'>批一批中国</h2>

<h2 id='id43'>我也有疑问</h2>

<p>在人体中，白细胞有能力杀死其他细胞，算是这个系统的暴力集团了，那么人体是如何抑制白细胞的特权的？ 白细胞杀死其他细胞的手段是同归于尽，这样的暴力集团才是稳定的、不会乱用权利的集团？</p>