<p>What are we? 我们的存在是什么？ 肉体的存在？精神的存在？</p>

<p>肉体是我们身上所有原子的集合么？ 我们从出生起到现在，从小小的躯体长达成人，几乎身上所有的原子都因新陈代谢而都被替换过，那么哪些是“我们”的原子？说不定你现在的身体上有几个曾经在爱因斯坦的身体上存在过，那么你就由爱因斯坦的一部分组成了么？事实上你的肉体的存在和爱因斯坦根本没有什么关系。 我们的肉体实际上并不是固定的物质关联，而是一个模糊边界的概念，你没有办法说清楚真皮层是不是你的肉体的一部分，角质层呢？角质层上的你分泌的油脂呢？那些油脂吸附的悬浮颗粒呢？你穿的衣服呢？那义肢又如何？固定在你身上的辅助康复器械，比如钢板，又怎么区分？ 不，根本没有固定的解释，肉体是一个概念，你可以根据时代的演变而修改这个定义。毕竟概念都是人为定义的，为的是交流的通畅，自然是要定义在一个我们经常使用的一个程度上。当下的社会，我们通常意义上将肉体停留在角质层的层次上，只包含由基因决定的与生俱来的生物体部分，不承认人造物属于我们的肉体；但是随着这个是时代的发展，科技的进步，我们的身体会接受越来越多的改造，机械强化、生物医疗改进、人造器官、植入芯片等等，当这些都成为社会的主流的时候，肉体的概念必然会随着人们对自身必不可少的部分的认识的改变而改变，承认这些改造都是人的一部分。而那时候，人类就开始新的进化了。</p>

<p>精神的存在呢？ What you did decide what you are. What you are doing decide what you will be. 你的所作所为构成了你的存在。数学上已经证明，任何一个系统，没有办法从内部证明整个系统的真伪。同样，人类没有办法从自身的意识出发证明自身意识的存在。唯一的办法就是利用外部系统的反馈来证明自身，就如同只有照镜子才能知道自己的相貌一样。人在这个世界中存在，借由改变世界来证明自己的存在；人又为作为社会中的一个个体而借由与社会交互来证明自己的存在。所以，影响越大，人类自身的存在感就越强。而反过来，拥有持续影响力的个体概念，我们就认为其是存在的，甚至是“活的”，因为他们存在与整个社会中，从整个社会的层面上来观测，他们都是持续产生影响力而拥有不断演变的能力的个体。莎士比亚的精神，在其肉体消亡之时，借由作品在全人类头脑中的不断映射而存在着，不断演变。</p>

<p>世界的存在？ 世界的存在与精神的存在是等同的问题。同样的，我们没有办法在这个世界中证明这个世界是真实的，因为世界内部是自洽的，但是除非走出这个世界从外部来观测这个世界，否则这个世界的真伪是不可证、不可知的。</p>

<p>生命存在的意义 生命的存在就是在与熵增原理而抗争。不断的有序化，趋向于区域内的熵减。</p>