<p>独裁与民主的选择</p>

<p>每个人的想法都是不一样的， 人们所面对的问题又是复杂的， 一个组织面临的又不止一个问题， 所以整体的决策是困难的。</p>

<p>考虑一个简化模型， 一个组织的所有人都处于状态空间中的同一个点上， 亦即所有人当前的状态一致， 当面对一个特定问题的时候， 每个人都有不同的决策方向和期待值大小（包括统治者和被统治者）， 将每个人的决策表示为一个N维空间向量， 最终决策的效果会受到受影响群体与决策方法的影响。</p>

<p>2013-04-30</p>