<p>英语的发展过程中，人们肯定不是先制定两套发音规则，对应 aeiou 的两种发音，然后规定当后面直接接辅音的时候发一类声音，而在后面接辅音加 e 的时候发另一套声音。 实际的演变可能更为自然而漫长。这应该是简单的音变过程。 一开始他们只有一个发音，rat 和 rate 的 ra 部分的发音是一样的，而后来，由于 t 和 te 的发音不同，在长时间使用的过程中，人们会因为省力（连音吞音等等现象）而致使 ra 部分的发音发生了变化，而这种变化在长时间的语言使用中被更多的人所认可，变为了标准。所以使用频率越高的词汇在语言规则中变化越剧烈，甚至可能已经与原本的规则完全不同。另一个可能的因素是，为了区分 rat 和 rate 这两个发音很相似的词汇以免发生误会，人们刻意让他们发音不同，类似的，在军队中，由于经常处于非常吵杂的环境中，所以军队内部有一套对数字和字母甚至一些常用单词的替代方案，增加他们之间的区分程度，并长期使用。</p>

<p>这样旧制度就会在时间的作用下一点点发生改变，产生很多更好的，但是不符合规则的存在。在以前的英语教学中，他们叫做固定搭配或是约定俗成。可以说，语言本身全部都是约定俗成的，所有的所谓的语法，都是后人为了方便学习和记忆而总结出来的，其本身也是约定俗成的。 当更有利于交流的变化稳定地被广泛接受之后，如果相似的异变很多，人们就会用另外一种角度重新解释和制定规则，从而产生新的语法现象。</p>

<p>如果没有这种相对稳定的总结出来的构词法、语法、句法，人们学习语言的唯一方法就是学习全部可能的单词、句子，而这几乎是不可能的，而且抹杀了创造力，相当于将整个设计空间遍历而非定向构造。语言所存在的设计空间十分巨大，只有定向构造才是更为有效的方法，尤其是语言本身的作用在于记录和传递信息，它所被使用的主体一直在变化之中，只有不停的构造、变化、总结才能符合主体的需求。</p>

<p>人类在对知识的总结会加速后人的学习速度。所以虽然我们处于一个知识信息爆炸的时代，人们对于特定领域的学习速度是会不断提升的。加上社会整体是由每个个体有机组织起来的，每个人专属一个特定的领域（非常细化的领域），所以社会整体的发展速度只增不减，而且随着人口爆炸指数增加。唯一的问题就是所有的生命都会面临的问题，就是资源的限制。随着公共资源领域的扩展，每个单体人所能享受的资源将会大大增加，而社会整体的人均资源负担却会降低。</p>