<p>根据 GTD 理论，我们可以将事务按照重要度和紧急度正交地分为四种类型。 不用说，既重要又紧急的事务自然要最优先处理，既不重要又不紧急的事务自然要闲得没事干的时候来处理。 那么，如果一个重要但不紧急的事务，与另一个紧急但不重要的事务发生了冲突怎么办？</p>

<h2 id='id44'>我们可以来算一算</h2>

<p>首先我们要建立一个可分析的模型。</p>

<p>紧急度是个不太好设定的变量，我们不妨把紧急度用剩余空闲时间来衡量。 剩余空闲时间的意思就是说用距离结束时刻的剩余时间减去预计花费时间。 假设：</p>

<ol>
<li>A 事务的重要度为 X1，剩余时间为 Y1。</li>

<li>B 事务的重要度为 X2，剩余时间为 Y2。</li>

<li>X1 &gt; X2，Y1 &lt; Y2。</li>
</ol>

<p>将 A，B 事务可以开始与必须结束之间时段的并集作为全集来考虑。</p>

<p>假如优先紧急的 B 还能确保 A 的顺利完成，那么自然我们可以同时获得 A 与 B 两者的回报。 但是优先处理 B 有不能做好 A 的风险，如果 A 没有及时完成，那么我们只能获得价值较低的 B。</p>

<p>假如优先重要的 A，那么 B 就几乎可以确定必须放弃了。这样我们保证了重要的 A 的完成而放弃了低价值的 B。 而这样的风险被极大降低了。</p>

<h3 id='id45'>数学期望</h3>

<p>这个数学期望是非常难以计算的，但是我们可以从另一个方面来考虑这个问题。</p>

<p>数学期望 = 事务的重要程度 x 能够完成的概率</p>

<p>数学期望 = 事务的重要程度 x （(全局剩余时间 - 事务预计花费时间) / 全局剩余时间)</p>

<p>即：</p>

<p>V = XY/T</p>

<p>结论很明显，两个都是等价的 = = 关键时刻，你还是凭直觉行事吧~</p>