<p>我们是初中的四人帮，我们潜入了王宫去获取消息。在被人发现的时候，一个平时被我们认为很怂的人很淡定的与守卫周旋，顺利脱出。这次的任务我没赶上。</p>

<p>第二次的任务，我也参加了。刺杀一名老医生。我们在一间破旧的民房中做准备，他们给我一把枪，我不知道该放在哪里，他们说别进裤带里就可以了。我赶紧将裤带系紧，枪可以别进去，但是还是不放心。我又要了一把枪，放到我的裤带里。我抱怨说钱包太大真是不方便。</p>

<p>准备期间曾有帮忙的人表现出不可靠的行为，为了安全，我的一个同伴便处理了这个人，并把他重新化妆，伪装了尸体。后来有人怀疑我们的行为，在我们扛着一个像棺材一样的大木箱子回来的时候被拦下来了。我迟迟没有放他进来，不断地拖延，因为屋里有很多散置的枪，而且还在化妆尸体，更麻烦的是为了掩人耳目，正在搬箱子的人有一个被我们化装成了跟死者一模一样的形态，如果被人看到这种光景，我们肯定就暴露了。我正准备拿枪解决来干扰的人，不知为何他们就散了。</p>

<p>执行任务当天晚上，他们先出去等我，让我快点，我把枪塞好下楼却没看到他们，我沿着狭窄拥挤而繁华的街道在找他们，结果他们打电话给我说他们就在楼下，我回去一找果然就在楼下。</p>

<p>我们一行四人来到了医院，看着病人被面部木讷没有表情的医生和护士呼来唤去。 在一个狭小的过道，类似一个很短的小拱桥，我被一个护士撞了一下，发现我的枪已经顺着裤管滑了下来，掉到了地上，我挡住护士的视线，淡定的捡了起来，发现枪被我插进了钱包里，和钱包一起滑出的，没被人发现，感叹下钱包大真是太好了。</p>

<p>医院里空间到处都很拥挤。我看着他们三人进入了医生的办公室，叫唤着他的名字，宣布着对他的审判。我犹豫了一下，没有跟进去，怕地方太挤到时候不利逃跑，我开始观察环境，按原路返回。接着我听到一声枪响，他们三人跑了出来，我也开始跑起来。</p>

<p>我们跑出了医院，全城拉响了警报。我们四人是分散逃跑的，我很快到达了撤离点，用电话退出了这里。</p>

<p>最后来自王宫的和来自医院的人团团围住一个我不记得是谁的人。王宫的警卫长轻蔑的看着他，叫出了他的伙伴，他一直倾心的姑娘，和他悉心照料的一头狮子。但是姑娘无法察觉，像看一个陌生人一样看着他。警卫长想要让他在心爱的人面前被自己照顾的野兽所吞噬。他现在浑身鲜血，饥饿的野兽眼里泛着血光。他默默地流着眼泪，他全部的爱恋都只是深深埋在姑娘全部的金色的头发里，无法离去。</p>