<p>我们一行人在一个很不起眼的地方找到了我们要找的这个江湖医生。 他一开始不接受，后来决定我们可以开个讲座之类的。 我们进入他的房间，大概有20平方米，我们开始排凳子。 一个女生将两排凳子排的紧密，我告诉她这样不对，至少要留出腿的距离，我又重新排了一下。 我坐到了那个女生的旁边，在最角落的地方，挤得要命。 开始讲的时候我发现那个医生总在房间的另一边讲，这边不是很能听清，我就离开座位跑到另一边站着听。</p>

<p>之后我们所有人出门，大概是旅行。</p>

<p>我一个人遇到一个奇怪的地方。 周围都是山原，奇怪的拱形土石，上面横着一块牌子写着类似于什么冒险乐园之类的东西。 向里面望去类似一个峡谷弯弯曲曲，中间和有点深的溪水，水流有些急。 我走进去，发现自己在一个相当高的地方，面前是有两条藤缆，一高一低，上面油腻腻的。 一个声音像广播一样响起，说欢迎来冒险，现在搞活动免费试用。 于是我就上去了，踩在低的那条绳子上，手握高的那条绳子。 这时候感觉有股力量推着我向前进，像冲浪在滑溜溜的绳子上一样。 像是一路下坡，但实际上绳子高低起伏不定，像过山车一样。 自己是没有办法调节速度的。 在前进过程中，绳子有些地方有固定到其他地方上，没有办法手一直握下去，需要换手， 有时甚至绳子会断掉，需要从一个绳子跳到另一个绳子上。 我来到一个平台，我感觉我的试用期已经结束了，但是我似乎还在这个冒险之中。 我看到另一个较矮的平台上有个人，不知道在干什么。 我也忘记了我是怎么离开这个地方的了。</p>

<p>之后我又找到了我们的队伍。 我们在草原或是湿地上前进，那个医生带着一个牧羊犬，赶着羊。 有时候我们停下来那个医生就讲一段时间，然后我们接着走。</p>

<p>我们遇到一个胖子，又或是我们队伍中的，非常中二。 他很喜欢吃糖，各种甜食。 有一天忘记了什么原因，大概我吃了他的糖， 他找来他爸，他爸在我要出房间的时候把我拦了下来。 我对这种人非常的不屑，他爸很瘦高，满脸虚张声势。 地很滑，我抓住门框用力撞他爸，他爸踉踉跄跄的撞到后面的墙壁上， 又试图提高音量跟我吵。 我很不耐烦的无视了他们，走了出去。</p>

<p>我找到医生，医生帮我看牙，说我下面的牙都黑了，教我以后再也不能吃糖了。 我感觉十分的奇怪为什么牙会坏掉。</p>

<p>有一次我们停留在一个地方的时候我发现一只奇怪的羊在尝试淌水淌过一条河，远离我们的营地， 我很奇怪的跟上去发现它的前面有我们的牧羊犬，在踩在河中的石头小心的过河。 这个举动也很反常，我再向前望去，看到医生和另外一个姑娘正在兴奋的摘草药。 我招呼了他们，他们都回来了。</p>