<p>这是一个架空的世界，所有的人我都知道他们的姓名，但是已经回想不起来了。</p>

<p>我在一个村子里居住，有消息说在一个空中的废墟中有着恶魔的宝藏，有着毁灭世界的力量。</p>

<p>村里有个青年十分渴望得到这个宝藏，一脸志在必得与对世界的恶意。我预感如果他找到这个宝藏，将会恶意地去控制世界。我必须阻止。</p>

<p>一行七人前往空中的废墟。废墟荒凉而阴森，有三个人不太想进入，便在门口留守。我和那个青年以及另外一个人进入了废墟。</p>

<p>在将要到达终点的时候，青年对宝藏强烈的渴望令我感到极度的不安，同时另外那个人也踌躇满志，支持青年的工作，看上去有誓死效力的态度。我决定在这里杀死他们，并彻底封掉那个宝藏，让任何人都无法得到它。</p>

<p>我抄起一个钝器偷袭了另外那个人，将他打晕，扔进了一个有着触发开关的坑中，用桌子压住坑口的木板。我和那个恶意的青年扭打在一起，也用上了散在地上的椅子。打斗非常的激烈。</p>

<p>最后我成功地打晕了他，我抓住他的头砸向地面，狠狠地，一遍两遍，换着方向砸，砸花了他的脸。我停了下来，感到自己的手在抖。我把他扔到另一个平台的坑里，压上一个蓝色的脸盆和一张桌子。按动了开关，这个唯一可以到达目的地的平台移动到了对岸，无法再回来了。世界上再没人可以得到那个宝藏。</p>

<p>我筋疲力尽地走出废墟，身心俱疲，心里仍然没能平复下来。我向另外三个人摆摆手，说了声撤。</p>

<p>路上，一个人泣不成声，应该是喜欢那个恶意的青年。我提心吊胆十分的不安，毕竟是杀了人。</p>

<p>到了村里不久，有人喊道有异物在天上飞，好像是龙。我抬头一看，那个青年穿着一套墨绿色的亮铠甲，踏着飞龙回来了。另一个人穿着亮银色的铠甲也回来了。他们像英雄一样被人围住，脸上也没有之前的恶意了，却没有人再提起宝藏的事情。我问他们是如何逃出来的，他们好像答非所问。问到蓝色的脸盆，他们一脸迷惑好像从未听说过有这种东西一般。</p>

<p>我十分的迷惑，不知发生了什么。</p>

<p>我被尿憋醒。</p>

<p>2013-07-30清晨</p>