<p>我坐在一台电脑前，进行语音通话，对方是一名学生的母亲，还有我的母亲。 我们在讲述这位男生的事情。 这名男生本是我的同学，强壮而目中无人，长期欺负我，我愤怒，但是我从未表现出来。 只到有一天我忍无可忍，我要反击。 我突然增长了许多力量，我抓住他的脚踝，甩了半圈，从空中砸到地上。 我听到咔嚓一声，我知道他的腿断了。 他还是大声哭救，但是周围的人都吓呆了，一动不动，他们想不到平时这么好欺负的我竟然可以如此爆发。 我并没有停歇下来，我跨在他的身上，朝脸部重重的砸下了拳头。</p>

<p>那位母亲又抽噎起来，我母亲安静的与她对话着。 这一切让我感到厌恶，我看到了自恃弱者的姿态，她只是在博取同情，而我不会同情博取同情的弱者。 他母亲说正是由于我的原因，这名男生从此一蹶不振，身心俱残，还有一名女生因此而跳楼，这个学校因为这些丑闻人们纷纷离去，整个校园荒芜一片，</p>

<p>我离开电脑前，走出了屋子，看到校园里果真是荒芜一片，我静静地看着不远处有个姑娘走来。 她走到我的面前，小心的点了下头，我讨厌这种感觉，我无意伤害不强壮的人，他们没有必要害怕我，我只是在面临欺压的时候强力反抗而已。 我招呼了她，问她来这干嘛，她说要看一下那个男生的母亲或是送个东西什么的，等一下再来找我聊天。 我没有说话，摆摆手让她进去了。</p>