<p>有一个陌生人打电话给我，让我去一家拉面馆工作，我知道她也会去。 我走在一条繁华的却肮脏的小巷中，但是街上却没有人。这是一个陈旧破败的却灯红酒绿的末世都市。 我不停的找路，又打电话问具体位置，我看到旁边有一个男人从一辆大巴中走出打着电话。我知道了这就是我要找的人。没想到这个拉面馆竟然开在像大巴一样的房车中。 我走进拉面馆，里面很昏暗，像酒吧一样。有几张长长的木桌，没有灯，桌上放着几个粗壮的蜡烛，把桌子照亮一个圆圆的圈。 我坐在离门最近的那张桌子，面向门，身后还有一张桌子。那个男人坐在我左边一张大椅子上，那个不是给客人坐的。 男人接到一个电话，是她打来的，她找不到路了。过了一会，她进来了。 我们俩都要了拉面，我观察她，我感觉她变了，不是我以前认识的她。我心里变得很不安定。 我不想和她一起工作，不过最终我们都没有接受店长的邀请。 这时店里发现了一个死人，死得很惨，是刚刚被谋杀的。我心里更加的不安了。 她离开了，我留下来帮忙处理善后问题。 之后不知怎的，她接受了另一家店的工作，在那家拉面馆工作。所以我去那家拉面馆看她。 那是一个相对比较明亮的拉面馆。 我点了一碗拉面，边吃边看她忙忙碌碌进进出出，心中各种复杂的情感。 突然有人高声大喊死人了。我冲出屋子，发现她倒在一小堆垃圾袋中。据目击者称，她在倒垃圾的时候，突然冲出一个黑影，一下就将她击倒了，那个黑影应该是个男人。人们议论着，有个人说可以根据她和垃圾袋的相对位置判断倒下去的方向，这样就可以直到那个男人是从哪里窜出来的了。小巷很小，但是都是些破旧的华丽，现在大多都已非常肮脏了。 我在怀疑是那个找我们工作的男人，这两件事都是在他找我们工作之后发生的，也都发生在我周围，这类事情很少见到的。我怀疑下一个可能的目标，就是我。 我很不安，但是周围人都像完全没注意到这种可能的样子。</p>

<p><code>=====我是世界的分界线=====</code></p>

<p>我参加了军队，成为了一个特种兵。这次的任务是强拆房子，我知道是她的家。 她是一个很大的家族的长女。她的父亲是家族的核心，所有人都听从他的指挥。 她们家是个有三个别墅的小型庄园，周围有一圈高高的铁栏杆。虽然在我看来也不是特别豪华的住所，但是显然在当地已经是非常有声望的象征。 这里太阳明亮，空气温黄，像沙漠，却没有沙尘。</p>

<p>我们试图用不浪费子弹的方式解决问题，她们奋力抵抗，我们就这样僵持着。 她们有事情要整个家族出门，临走前特意检查了所有的门窗。 我们决定快刀斩乱麻，直接把大炮推了出来，我们在对面的房子上试了一下，看上去很有气势的大炮，实际效果很差，基本跟投石车差不多。我检查了一下发现投出去的实际上是西瓜。但是突然那些被打击过地方发生了爆炸，看来这西瓜能延时爆炸。</p>

<p>我们决定轰开她们家的大铁门，这样队伍就可以进入了。轰了很长时间，门才轰开，我们一群人进入了她们的房子，这时她们也回来了。 我们两拨人发生了各种冲突和冲撞。 她质问我说我有得到她的父亲的同意么，我没回答，转身去找她的父亲。 老人已经年纪非常大了，眼神没什么精神了，坐在藤椅上一动不动。 我问他我们要拆你的房子可不可以，他一动不动静静的慢慢的呼吸，好像没有听到一样。 我重复地问，完全没有回复。</p>

<p>部队的手工拆除还在继续，她们家的人的干扰还在继续。 冲突不断升级，武装斗争开始，有人开始伤亡。 我也开始攻击房子，人们在攻击最下面的房子，我决定攻击最上面的房子。 我抱来一个西瓜，绿油油，完美的球体。我把它仍向最上面的房子。 西瓜砸碎屋顶，砸进房子，我进到房子里，找到西瓜，抱出来再砸向房子，反复几次。我看到西瓜也产生了裂纹。</p>

<p>已经死了很多人了。我也杀死了不少人。 我突然意识到这是一个梦，这个梦我以前肯定做过一模一样的，我发觉这是一个轮回，这个轮回没有人可以逃离。我意识到唯一的解决方法就是牺牲掉我自己和她的母亲。 我看着周围人跑来跑去打斗的场面，我顿时泪流满面。</p>

<p>2012-11-20清晨</p>