<p>一个小孩从森林里走出来，脚上穿着一个巨大的像独木舟或是龙舟一样的鞋。他一下子跳出来了。突然我发现他脚下不是坚实的土地，而是波浪起伏的水面，他两只脚稳稳的踩在水面上，像滑冰一样在水面滑行。 举行滑水比赛。每个人都有了一套这样的鞋子，我们在操场上滑行着，这是我小学的操场。 我快速的在人群中穿梭，双手在空中挥舞，我可以一只脚高速度大转弯持续很长时间，我感受到了腿部肌肉绷得紧紧的。 我决定到更远的地方去。我向校门滑去，校门是两扇高大的铁栏杆，用铁链铰在一起，中间有很大的间隙，上面有一个女生想要翻过去。我直接冲向中间的间隙，但是第一次骻骨卡住了，我侧了一下身就挤过去了。 回头看到那个女生还没有翻过来，我决定要帮她。大门好像一下子变得好矮，又变得柔软，如同上方就是铁链一样波动着。我帮她把铁链往下压并固定住，她又试了几次，终于过来了。</p>

<p>我决定去旅行。好像有一个目标，又十分的模糊，也许是一个比赛的终点，又好像是比谁去的地方有趣，也许只是我单纯的想去。 我和其他两个人横穿了马路，抄小道踩了草坪。一束明亮的灯光打到我右侧的脸上，我扭头一看，一辆警车向我们开来，有一个人向我们拍照，我站在离警察最近的位置，估计脸会非常清楚的记录下来。我很清楚，我们的记录要不干净了。 不过我们没有停下来，继续踩草坪。不过当我来到海边的时候，我意识到天已经黑了，而我周围一个人都没有，我不知道其他比赛的人都在哪里。远远的海里有很多人，点点星光，但我不知道他们当中谁是比赛的人。我不知道方向。 我拿出iPhone，搜索地图。我看到我在一个大陆边缘，面前是大海，或者只是一片很大的湖，中间有一个小岛，我想去那里，我意识到我很熟悉那个岛的名字，应该是现实中的名字，我当时随口就说出来了，好像是个什么镇，但是我现在想不起来了。这个岛的北边一点有一座岛，我应该也非常熟悉。再北一点有一个小回字形的地方，我发现它在地图上是淡蓝色的，这是海水的颜色，这意味着他是沉在海底的城市，回字形逐层下降，像梯田一样的方形海沟，也许不应该叫海沟，叫海坑比较合适。 我站在海边，但这里不是沙滩，而是距离海面有些距离的堤坝，好像星海广场。 我也许是直接跳下去的，也许是找到了路，总之，我现在在水上，溜冰一样的滑水，滑向那个小岛。</p>

<p>不知何时，我到达了小岛，我走在一个下降通道中，前方像是地下人行通道里的商业街一样。斜前方有个长椅，上面坐着很多一动不动的人，像石像一样在等待着什么人，而且不是我，我很清楚，虽然一动不动但他们都是活的。 我遇到了我的母亲，还有我二舅。他们问我我要去哪里，我说我还不知道，我要想一想。我又拿出iPhone来看地图，我放大了我所在的小岛我意识到我是从小岛的西北角登陆的，这个小岛只有一条通道，从西北角向南再折向东直到东南角，贯穿小岛。东北面是一座巨大的山，占有了小岛三分之二的面积，高耸入云。 我想了一下，说我想要滑水去南京。南京在这座岛的北边，有些远。南京是一座非常大的城市，地图上看不到它的北边界，回字形，一层一层的城墙，最外面一层沉在水中，我不知道城门在哪里。但是我想去。 母亲和舅舅用一种深沉但不置可否的表情看着我，对我说，南京很远，你去有什么意义。我说我想去。他们说，你要想好。我想有什么要想的，这么近的旅行，我背起包出门了。 出门后我意识到现在已经是半夜了，四周漆黑一片，只有远处有零散的点光源。我突然担心起来我会划不过去，半途没有体力的话又没有办法睡觉。可我又十分想去，我觉得我必须去。也许我应该在当地找家旅馆先睡一觉，同时我又感觉这个天永远也不会亮起来，太阳永远也不会再升起。 我在这小纠结中听到了起床的铃声。</p>

<p>2012-11-13早</p>