<p>我带领一车的人准备回家，但我们被告知习近平主席要来视察电视。我们大巴上有一台落地的电视柜，上面一台20几寸的老式电视。 主席进来了，跟着几个跟班，主席打开了电视，一个主流频道，我在一个好像电视的后端控制台前小心地调整，使它处于最佳状态。期间好像搞砸了几次，不过好像没有被发现。 主席说你调整一下频道我有点听不清，我问是不是需要调整音量，我把音量调大了，主席说对。 之后他们就离开了，我们也准备返程了。 返程的时候好像出了什么问题，好像是前面的车抛锚了，我看到一队的人在马路上狂奔。但是我没有让车停下来，因为他们人太多了，车上没有多少空座。 但是当我们视野里已经看不到他们的时候，我又有些后悔没有帮助到他们，我跟另外一个人商量，他说如果你想帮我们尽快掉头回去，现在离他们越来越远，越不容易帮上忙。我让车子停下来告诉他们给我两分钟思考一下。 我在思考中醒来。</p>

<p>2013-5-19 早晨</p>