<p>我前往一个大厦，这个大厦里面是一个开放的广场， 一面是高耸的玻璃墙，每一层是一个半圆形的平台，边缘是扶手加一个伸出来的半米的边缘。</p>

<p>我走进去，看到广场上有许多人，看上去在搞活动。 我从旁边爬上二楼，不是楼梯，像是爬山一样不平。</p>

<p>突然整个广场开始骚动，我转头一看有人跳楼了，地上两摊血迹， 问过知道了，他们是情侣关系，从六楼一起跳了下来，动机未知。</p>

<p>我走在二楼的平台上，和众人一起向下望去，工作人员很快过来清理现场， 尸体也很快开始被移动了。</p>

<p>看着地上的血迹，有种莫名的冲动使我也想跳下去。 我记得我是有非常强烈地理由的，我想到了很多的事情，每件事情都冲击着我，让我有冲动想自杀。</p>

<p>我迅速的跨过扶手，站在前伸的边缘处，周围的人还没有注意到我。 突然一个念头跑到脑海中，是我自杀的理由，故事的背景，许许多多的故事如果我不说，就没有人会有可能知道， 我必须记下来，我必须回去写到我的博客中去。</p>

<p>我立马紧紧地抱住扶手，生怕自己会真的跌下去。心跳的十分剧烈，我跨回扶手，跌倒在地面上。 这很短的时间貌似还没有人注意到我轻生的念头。</p>

<p>我开始嘲笑我的愚蠢的念头，人如果自杀了，便失去了所有的过去的记忆和未来的可能。 我缓步走进电梯，想要到一楼去。我点击了对下面的按钮，结果电梯向上升了一层，走进很多人。 电梯操作员惊讶地问我，现在发生这么大的事故，你怎么还坐电梯，我说我想去一楼，我按了最下面的按钮。 可我现在一看最下面的按钮是B1。 操作员按了上面那个按钮，我们来到了一楼。</p>

<p>我慢慢地走出大厦，上了一辆老式电车。</p>

<p>2013-06-22 晨</p>