<p>黑洞的视界之内真的有物质的存在么？</p>

<p>热力学告诉我们，任何封闭系统的最终结局都是热寂。 当一团物质接近黑洞的时候，根据相对论，时间和空间尺度被无限拉长。 这就意味着，当它到达黑洞前，经历了无穷长的时间。 这样看来，黑洞的热辐射应该是由趋近于黑洞的物质耗散后发射出来的。</p>

<p>那么，视界之内就不应该有物质的存在了。黑洞的引力可不可以是由聚集在附近的物质所形成的？由于空间被拉长而实际上拥有更多的物质？</p>