<p>一个人的独立性取决于他所依赖的东西。 人的生命长度是有限的，即意味着在一定的成长速度范围中，我们只能拥有有限的高度。 如果要想站得更高，就需要借助于他人的肩膀。 这即是，“不要重复造轮子”。</p>

<p>但是每一个辅助的肩膀都是一种依赖。 个人的稳定性依赖于其所依赖的肩膀的稳定性。 当一个肩膀轰然倒塌的时候，个人也会随之受到影响，甚至也随之倒塌。 每多一个必须的肩膀，个人的独立性就下降了一点，自由就下降了一点，但是高度随之却增加了一点。 个中取舍，全在个人。</p>

<p>就社会整体性而言，人们会像蚁群</p>