<p>大学期间在网管部的工作过程中发现了很有趣的现象。</p>

<p>网管部是一个自组织的学生组织。 这个组织有一个很难得的优势，就是财政，技术，组织三者分离。 身为网管是有工资的，工资的来源是团委； 身为网管需要了解技术，技术支持来源是网络中心； 身为网管需要自我组织，组织结构是由我们自身决定的。</p>

<p>这些导致了网管部的文化氛围相对比较high。 一来有稳定的收入，解决了请客的物质基础； 二来有相同的技术话题，提供了源源不断的没有利害关系的第三方话题， 最后，最为重要的是行政独立，这促使了内部相对稳定的小团体的形成。 就像一个独立的细胞一样，依赖于环境，却有独立的主动性。</p>

<p>我们在招新的时候虽然有技术考试，但是技术从来不是考核的主题，更重要的是相容的性格和兴趣。 毕竟在更多的时间里，内部交流只有一小部分是技术话题，而这又是可以培养的。</p>

<p>我个人觉得在网管部工作的最大挑战是面对各式各样的用户， 有些用户自以为了解技术不愿听从技术指导； 有些用户态度强硬一心只要要求得到满足，甚至无理取闹； 有些和蔼温和，还有的意图主动买萌或是无意自来的天然萌来试图获取优先办理等权利。 语言技巧的要求变得前所未有的高。</p>

<p>在实际跟用户交谈的时候的措辞，在老一辈和新一辈的身上发生了一些改变。 首先他们倾向于模仿，有的甚至一字不差。 其实不只是在网管部，其他社团也有相似的结果。 但是他们同时又在进化，在语言文字中加入了自己的风格。</p>

<p>告诉他们如何去做，而不是单单告诉他们去做什么。 后者不会起到好的结果，因为他们根本不知道如何能够做到你所描述的结果，这实质上是一个创造的过程，从无到有。 但是前者是单纯的展示，模仿比创造要容易许多，更容易被人们所接受。</p>