<h2 id='hardwares'>Hardwares</h2>

<ol>
<li>Macbook Air 2011 4,2</li>

<li>iPhone 4S 2012</li>

<li>Monster</li>
</ol>

<h2 id='softwares'>Softwares</h2>

<h3 id='development'>Development</h3>

<ol>
<li>Ruby</li>

<li>Ruby on Rails</li>

<li>RVM</li>

<li>irbtools</li>

<li>git</li>

<li>homebrew</li>

<li>oh-my-zsh</li>

<li>guard</li>

<li>mosh 10.</li>
</ol>

<h3 id='mac_os_x'>Mac OS X</h3>

<ol>
<li>Mac OS X Mountain Lion 10.8.2</li>

<li>Alfred 1.3.2</li>

<li>Sublime Text 2</li>

<li>Dropbox</li>

<li>Sparrow</li>

<li>AppCleaner</li>

<li>BetterTouchTools</li>

<li>CyberDuck</li>

<li>Evernote</li>

<li>iTerm2</li>

<li>Google Chrome</li>

<li>iWork</li>

<li>LessLyrics</li>

<li>MPlayer</li>

<li>Parallels Desktop</li>

<li>SourceTree</li>

<li>The Unarchiver</li>

<li>TotalFinder</li>

<li>Tunnelblick</li>

<li>Xcode</li>

<li>Mortal</li>

<li>iStat Menus</li>
</ol>

<h3 id='ios'>iOS</h3>

<ol>
<li>Messages</li>

<li>Evernote</li>

<li>QRReader</li>

<li>Flashlight</li>

<li>Dropbox</li>

<li>Concentrate!</li>

<li>Apabi Reader</li>

<li>Google Maps</li>

<li>Flipboard</li>

<li>aNote Lite</li>
</ol>

<h2 id='services'>Services</h2>

<ol>
<li>Google</li>

<li>Gmail</li>

<li>Google Calendar</li>

<li>Trello</li>

<li>Pomotodo</li>

<li>Github</li>

<li>GitCafe</li>

<li>GeWaLa</li>

<li>Taobao</li>

<li>Alipay</li>

<li>Twitter</li>

<li>Weibo</li>

<li>Facebook</li>

<li>Renren</li>

<li>Douban</li>
</ol>