<p>经过一番艰难的决定，还是要出来继续旅游。之前去金山，走的肌腱都有些疼了。平时运动太少了。 决定的时候，我已经走到了上海火车站。 这样又要坐四号线绕回去，从旅游集散中心出发了。 行程大概三个小时吧。</p>

<p>下午两点半出发，坐大巴前往小洋岛，再从小洋岛坐快艇到岱山岛。 上海这两天本来阴雨绵绵的，整个南方地区都阴雨绵绵，有时候还有暴雨的出现。 但是在车快到小洋岛前的那忘了叫什么的大桥上的时候，阳光直勾勾的照射了下来，天气变成了多云，可以看到太阳了。 感受着呼呼的热气，看着亮晶晶的海面，不知是喜是悲呢。</p>

<p>买票的时候被告知普通票已经没有了，只能买贵宾票。其实说是贵宾票，也就贵10块钱而已，就买了。 明明是周一，怎么会有这么多人呢。 上了船发现其实贵宾票也就是座椅的空间更大一些而已，我很怀疑如果不是因为没有票了的话，会有几个人买，哼哼，我都买到了6号的票。</p>

<p>虽然岱山县也算是农村吧，很多是皮肤黝黑的大叔大妈，但是意外地发现好多白胖胖的美女们。 有一个还拉着一个大手提箱，上面贴着浦东机场的托运行李标志，这是回家么。回家真好。</p>

<p>终于发现中国这种不干净的空气的一个优点了：从厚重的乌云间隙中射下的强烈的阳光，在空气中的灰尘的折射下，形成一束束的天光，煞是漂亮。</p>

<p>我很不喜欢这种封闭式的快艇，没有咸湿的海风就觉得这船坐得很亏。 记得在澳洲得时候，城市中有一种公交叫 City Cat，是一类蓝色的快艇，在城市中穿行。 我非常喜欢站在船头听着嗒嗒的马达声，被强烈的风吹的睁不开眼睛。河水清澈的跳跃，两岸干净漂亮的建筑，时不时有悠闲的市民散步汽车遛狗游泳。 那才是生活。</p>

<p>上了岛感觉真是理想的城乡结合部的样子，有现代化的设施，但是人口密度很低，乡村的原貌保留的也很好，不乱，很安详。 公交车从码头星状放射到岛的各大景点。因为已经比较晚了，决定直接找住宿的地方，于是第一站就定在岱东的鹿栏，因为有沙滩，我想看日出。</p>

<p>一路上公交车没多少人坐，司机开的飞快，坐的我胆战心惊，我觉得这开车方式跟我玩赛车游戏差不多。 没多久就到了鹿栏。</p>

<p>沿着一条长长的马路向海边走去，一路上只有一辆摩托车从身边经过，有一种孤独的旅人，走不完的旅途的感觉。 人少到举目望去，大片田野，却一个人也没有。 我站在堤坝的像城门一样的入口上面向下面撒尿，假想着下面慌张的路人。 也只有这种地方才能容许这种YY的事情发生。</p>

<p>海滩才是奇迹一样。一个两公里长的海滩，一个人也没有，跟私人沙滩一样，真是爽爆了。 沙滩很宽，很平，安静的浪花轻轻地拍上来，很平和。</p>

<p>在海边找到了住宿，150元对于这边来说还是比较贵的，第二天一结帐，老板对于晚饭和早饭的供应算了50元，顿时觉得好坑爹，虽然有难得的无线网，速度也很快，还是觉得好坑爹。</p>

<p>这边蚊子是真多，从来不能想象几十只蚊子在空中飘来飘去是什么感觉。忘记蚊香的存在了，晚上睡的好差。</p>

<p>早上本来打算去看日出的，4点半爬起来发现竟然下雨了。顶着雨去海边逛逛，到了5点半还是什么也看不见，云彩太厚了，这个真遗憾，明明有这么好的沙滩的。</p>