<p>RVM, Rbenv, ruby-build has already support Ruby 2.0.0. You can build it by them.</p>

<h2 id='install_yaml_lib'>Install YAML lib</h2>

<pre><code>$ brew install libyaml
$ brew link libyaml</code></pre>

<h2 id='if_you_are_using_rvm'>If you are using RVM:</h2>

<pre><code>$ rvm pkg install openssl
$ rvm install 2.0.0 --with-openssl-dir=$HOME/.rvm/usr
$ rvm use 2.0.0</code></pre>

<p>Done.</p>

<p>Otherwise, you need install openssl manually:</p>

<h2 id='install_openssl'>Install OpenSSL</h2>

<pre><code>$ brew install openssl
$ brew link openssl</code></pre>

<h2 id='install_readlineoptional'>Install Readline(Optional)</h2>

<pre><code>$ brew install readline
$ brew link readline</code></pre>

<h2 id='if_you_are_using_rbenv'>If you are using Rbenv:</h2>

<pre><code>$ CONFIGURE_OPTS=&quot;--with-openssl-dir=`brew --prefix openssl` --with-readline-dir=`brew --prefix readline`&quot; rbenv install 2.0.0-rc1</code></pre>

<h2 id='here_is_the_tranditional_compile'>Here is the tranditional compile:</h2>

<p>Although configure warnings <code>configure: WARNING: unrecognized options: --with-openssl-dir, --with-readline-dir</code>, but it truly works.</p>

<p>Otherwire, openssl will be broken when <code>make</code>, which will tell you.</p>

<pre><code>$ wget http://ftp.ruby-lang.org/pub/ruby/2.0/ruby-2.0.0-rc1.tar.gz
$ tar xzf ruby-2.0.0-rc1.tar.gz
$ cd ruby-2.0.0-rc1
$ ./configure --with-openssl-dir=`brew --prefix openssl` --with-readline-dir=`brew --prefix readline`
$ make
$ make install</code></pre>

<h2 id='optional_install_bundler'>(Optional) Install Bundler</h2>

<p>Install pre-version of bundler for Ruby 2.0</p>

<pre><code>$ gem install bundler --pre</code></pre>