<h2 id='quote'>Quote</h2>

<p>引用，表示不进行运算，返回本身。</p>

<pre><code>&#39;(list a b)
=&gt;(list a b)</code></pre>

<h2 id='backquote__comma'>Backquote + Comma</h2>

<p>引用，但是可以用<code>,</code>选择性求值。</p>

<pre><code>`(list ,(car (list &#39;a &#39;b)) b)
=&gt;(list a b)</code></pre>

<h2 id='comma__at'>Comma + At</h2>

<p>将表达式展开为参数表。</p>

<pre><code>(setq a (list a b))
`(list ,@a)
=&gt;(list a b)</code></pre>