<p>HiDPI is try to use 2x2 pixel to present 1x1 pixel</p>

<p>The traditional way to enable it is to use Quartz Debug. But actually you can use <code>defaults</code> to do so.</p>

<pre><code>sudo defaults write /Library/Preferences/com.apple.windowserver DisplayResolutionEnabled -bool YES;
sudo defaults delete /Library/Preferences/com.apple.windowserver DisplayResolutionDisabled;</code></pre>

<p>Then, logout and log back to take effect.</p>

<p>Now go to Apple menu &#8211;&gt; System Preferences &#8211;&gt; Displays &#8211;&gt; Display &#8211;&gt; Scaled. You&#8217;ll see a bunch of &#8220;HiDPI&#8221; resolutions in the list to choose from.</p>