<p>Homepage of Mew. http://www.Mew.org/</p>

<ol>
<li>
<p>Setup stunnel If you want to use Gmail or any other who force you to use SSL, you have to install stunnel.</p>

<p>brew install stunnel</p>
</li>

<li>
<p>Get it. Download from http://www.mew.org/en/download/ Current newest version: http://www.mew.org/Release/mew-6.5.tar.gz</p>
</li>

<li>
<p>Install it.</p>

<p>tar zxf mew-6.5.tar.gz cd mew-6.5 ./configure make make install</p>
</li>
</ol>

<p>Or move it to your emacs folder and add it to your load-path</p>

<pre><code>(add-to-list load-path &quot;/path/to/your/mew/&quot;)</code></pre>

<p>CHECKPOINT: Now you should be able to (require &#8216;mew) in your Emacs.</p>

<ol>
<li>Setup your mew</li>
</ol>

<p>Add-to-file <code>set-mew.el</code> and load it from your emacs configure.</p>

<pre><code>(autoload &#39;mew &quot;mew&quot; nil t)
(autoload &#39;mew-send &quot;mew&quot; nil t)
(setq mew-icon-directory
      (expand-file-name &quot;etc&quot; (file-name-directory (locate-library &quot;mew.el&quot;))))
(setq mew-use-cached-passwd t)

;; Optional setup (Read Mail menu):
(if (boundp &#39;read-mail-command)
    (setq read-mail-command &#39;mew))

;; Optional setup (e.g. C-xm for sending a message):
(autoload &#39;mew-user-agent-compose &quot;mew&quot; nil t)
(if (boundp &#39;mail-user-agent)
    (setq mail-user-agent &#39;mew-user-agent))
(if (fboundp &#39;define-mail-user-agent)
    (define-mail-user-agent
      &#39;mew-user-agent
      &#39;mew-user-agent-compose
      &#39;mew-draft-send-message
      &#39;mew-draft-kill
      &#39;mew-send-hook))

(setq mew-pop-size 0)
(setq mew-smtp-auth-list nil)
(setq toolbar-mail-reader &#39;Mew)
(set-default &#39;mew-decode-quoted &#39;t)
(when (boundp &#39;utf-translate-cjk)
  (setq utf-translate-cjk t)
  (custom-set-variables
   &#39;(utf-translate-cjk t)))
(if (fboundp &#39;utf-translate-cjk-mode)
    (utf-translate-cjk-mode 1))

(defvar mew-cite-fields &#39;(&quot;From:&quot; &quot;Subject:&quot; &quot;Date:&quot;))
(defvar mew-cite-format &quot;From: %s\nSubject: %s\nDate: %s\n\n&quot;)
(defvar mew-cite-prefix &quot;&gt; &quot;)

(setq mew-ssl-verify-level 0)
(setq mew-use-cached-passwd t)

(setq mew-signature-file &quot;~/Mail/signature&quot;)
(setq mew-signature-as-lastpart t)
(setq mew-signature-insert-last t)
(add-hook &#39;mew-before-cite-hook &#39;mew-header-goto-body)
(add-hook &#39;mew-draft-mode-newdraft-hook &#39;mew-draft-insert-signature)

;; (setq mew-refile-guess-alist
;;       &#39;((&quot;To:&quot;
;;          (&quot;@octave.org&quot;                       . &quot;+math/octave&quot;)
;;          (&quot;@freebsd.org&quot;                      . &quot;+unix/freebsd&quot;))
;;         (&quot;Cc:&quot;
;;          (&quot;@octave.org&quot;                       . &quot;+math/octave&quot;)
;;          (&quot;@freebsd.org&quot;                      . &quot;+unix/freebsd&quot;))
;;         (nil . &quot;+inbox&quot;)))
(setq mew-refile-guess-control
      &#39;(mew-refile-guess-by-folder
        mew-refile-guess-by-alist))

(setq mew-summary-form
      &#39;(type (5 date) &quot; &quot; (14 from) &quot; &quot; t (0 subj)))
(setq mew-summary-form-extract-rule &#39;(name))

;; Password
(setq mew-use-master-passwd t)

;;(setq mew-ssl-verify-level 0)
(setq mew-prog-ssl &quot;/usr/local/bin/stunnel&quot;)</code></pre>

<p>Mew will read <code>~/.mew.el</code> when it&#8217;s launched.</p>

<p>Add-to-file <code>~/.mew.el</code> :</p>

<pre><code>;; setup mail info
(setq mew-config-alist
      &#39;(
        (default
          (mailbox-type          imap)
          (proto                 &quot;%&quot;)
          (prog-ssl              &quot;/usr/local/bin/stunnel&quot;)
          (imap-server           &quot;imap.gmail.com&quot;)
          (imap-ssl-port         &quot;993&quot;)
          (imap-user             &quot;ranmocy@gmail.com&quot;)
          (name                  &quot;Ranmocy Sheng&quot;)
          (user                  &quot;ranmocy&quot;)
          (mail-domain           &quot;gmail.com&quot;)
          (imap-ssl              t)
          (imap-size             0)
          (imap-delete           t)
          (imap-queue-folder     &quot;%queue&quot;)
          (imap-trash-folder     &quot;%Trash&quot;)
          ;; This must be in concile with your IMAP box setup
          (smtp-ssl              t)
          (smtp-auth-list        (&quot;PLAIN&quot; &quot;LOGIN&quot; &quot;CRAM-MD5&quot;))
          (smtp-user             &quot;ranmocy@gmail.com&quot;)
          (smtp-server           &quot;smtp.gmail.com&quot;)
          (smtp-ssl-port         &quot;465&quot;)
          )))</code></pre>

<p>OPTIONS: If you want to read HTML email in mew:</p>

<p>Install emacs-w3m:</p>

<p>require <code>setup-emacs-w3m</code></p>

<p>Add-to <code>set-mew.el</code></p>

<pre><code>;; HTML support
(setq mew-mime-multipart-alternative-list &#39;(&quot;Text/Html&quot; &quot;Text/Plain&quot; &quot;*.&quot;))
(condition-case nil
    (require &#39;mew-w3m)
  (file-error nil))
(setq mew-use-text/html t)</code></pre>

<h1 id='nowyoucan'>Now-you-can</h1>

<ol>
<li>Run <code>M-x mew</code> to run mew in your Emacs.</li>

<li>Press <code>i</code> to check new email in your Inbox.</li>

<li>Press <code>SPACE</code> on your email to read it, and it should support HTML format.</li>
</ol>

<h1 id='finish_setupmewinemacs'>Finish setup-mew-in-emacs</h1>