<p>XCode includes the gcc customized for MacOS, but it is incompatible with a lot of wonderful softwares.</p>

<p>Run <code>brew doctor</code> will return:</p>

<pre><code>Versions of XCode newer than 4.2 don&#39;t include gcc 4.2.x.</code></pre>

<p>If you have <code>homebrew</code>, you can easily run a third-party customized script:</p>

<pre><code>brew install https://github.com/adamv/homebrew-alt/raw/master/duplicates/gcc.rb</code></pre>

<p>or</p>

<pre><code>brew install https://raw.github.com/adamv/homebrew-alt/master/duplicates/apple-gcc42.rb</code></pre>

<p>It just works.</p>

<h5 id='reference'>Reference:</h5>

<pre><code>https://github.com/mxcl/homebrew/wiki/Custom-GCC-and-cross-compilers</code></pre>