<ul>
<li><a href='https://github.com/presidentbeef/brakeman'>Brakeman</a></li>

<li><a href='https://github.com/railsbp/rails_best_practices'>Rails Best Practise</a></li>

<li><a href='https://github.com/colszowka/simplecov'>SimpleCov</a></li>

<li><a href='http://corner.squareup.com/2012/02/cane.html'>Cane</a></li>

<li><a href='https://github.com/codegram/pelusa'>Pelusa</a></li>
</ul>