<p>Install w3m</p>

<pre><code>brew install w3m</code></pre>

<p>CHECKPOINT: Now you have the w3m under your exec-path.</p>

<p>Download from http://emacs-w3m.namazu.org/ Currently newest stable version: http://emacs-w3m.namazu.org/emacs-w3m-1.4.4.tar.gz</p>

<p>If you are using Emacs 24, you have to use development version in CVS.</p>

<pre><code>cvs -d :pserver:anonymous@cvs.namazu.org:/storage/cvsroot login
# No password is set.  Just hit Enter/Return key.
cvs -d :pserver:anonymous@cvs.namazu.org:/storage/cvsroot co emacs-w3m</code></pre>

<p>CHECKPOINT: Now you have the source of emacs-w3m, Luke.</p>

<p>Install it.</p>

<pre><code>cd emacs-w3m
autoconf # if it is development version
./configure
make</code></pre>

<p>Move it to your load path by</p>

<pre><code>(add-to-list load-path &quot;/your/path/to/emacs-w3m&quot;)</code></pre>

<p>or</p>

<pre><code>make install</code></pre>

<h1 id='nowyoucan'>Now-you-can</h1>

<ol>
<li>(require &#8216;w3m) in your Emacs.</li>
</ol>

<h1 id='finish_setupemacsw3m'>Finish setup-emacs-w3m</h1>