<h1 id='xiami_'>Xiami 地址加密的算法</h1>

<pre><code>remain_str = &quot;hFaF4%52pt%m155E43t2i14E39pF.75261%fn68_1931e88121A.t%%779%x%2274.2i2FF%_m&quot;
store      = [&quot;hFaF4%52p&quot;, &quot;t%m155E43&quot;]
store      = [&quot;hFaF4%52p&quot;, &quot;t%m155E43&quot;, &quot;t2i14E39&quot;, &quot;pF.75261&quot;, &quot;%fn68_19&quot;, &quot;31e88121&quot;, &quot;A.t%%779&quot;, &quot;%x%2274.&quot;, &quot;2i2FF%_m&quot;]
address    = &quot;http%3A%2F%2Ff1.xiami.net%2F11768%2F454588%2F%5E2_177%5E361274_2491919.mp3&quot;
address    = &quot;http://f1.xiami.net/11768/454588/^2_177^361274_2491919.mp3&quot;
address    = &quot;http://f1.xiami.net/11768/454588/02_1770361274_2491919.mp3&quot;



total      = location[0].to_i
remain_str = location[1..-1]
span       = (remain_str.length.to_f / total).floor
remainder  = remain_str.length % total
store       = []
address    = &quot;&quot;
# remain_str = &quot;hFaF4%52pt%m155E43t2i14E39pF.75261%fn68_1931e88121A.t%%779%x%2274.2i2FF%_m&quot;

remainder.times do |i|
  store[i] = remain_str[(span+1)*i...(span+1)*(i+1)]
end
# store      = [&quot;hFaF4%52p&quot;, &quot;t%m155E43&quot;]

remainder.upto(total-1) do |i|
  index    = span*(i-remainder)+(span+1)*remainder
  length   = span
  store[i] = remain_str[index...index+length]
end
# store = [&quot;hFaF4%52p&quot;, &quot;t%m155E43&quot;, &quot;t2i14E39&quot;, &quot;pF.75261&quot;, &quot;%fn68_19&quot;, &quot;31e88121&quot;, &quot;A.t%%779&quot;, &quot;%x%2274.&quot;, &quot;2i2FF%_m&quot;]

# Take out every first char in store[i],
# Then take out every second char in store[i],
# Then cons together.
(span+1).times { |col| address &lt;&lt; store.collect { |row| row[col] }.join }
# address = &quot;http%3A%2F%2Ff1.xiami.net%2F11768%2F454588%2F%5E2_177%5E361274_2491919.mp3&quot;

# unEscape string
# address = &quot;http://f1.xiami.net/11768/454588/^2_177^361274_2491919.mp3&quot;
# address = &quot;http://f1.xiami.net/11768/454588/02_1770361274_2491919.mp3&quot;
address = CGI::unescape(address).gsub(&#39;^&#39;, &#39;0&#39;)</code></pre>