<p>突然发现我博客发不了文章了，<code>heroku logs</code> 中显示：</p>

<pre><code>duplicate key violates unique constraint.</code></pre>

<p>如果你在 Heroku 上或是使用 pg 数据库的时候遇到跟我一样的问题，可以使用如下的方式来解决。</p>

<p>原因在于 pg 认为的下一个可用 id 实际上已经被占用了，我们可以手动运行 SQL 语句来修复这个问题：</p>

<pre><code>heroku run console
ActiveRecord::Base.connection.execute(“SELECT ...”).values</code></pre>

<p>假如你的模型叫Article，运行下列 SQL 语句：</p>

<pre><code>SELECT MAX(id) FROM articles;
SELECT nextval(&#39;articles_id_seq&#39;);</code></pre>

<p>对比一下，是不是 seq 的数字小于 max ？</p>

<p>运行这条来修复：</p>

<pre><code>SELECT setval(&#39;articles_id_seq&#39;, (SELECT MAX(id) FROM artiles)+1);</code></pre>

<p>如是安可。</p>