<pre><code>git filter-branch --commit-filter &#39;
if [ &quot;$GIT_COMMITTER_NAME&quot; = &quot;riku&quot; ]; then export GIT_COMMITTER_NAME=&quot;Riku&quot;; fi;
if [ &quot;$GIT_COMMITTER_NAME&quot; = &quot;ranmocy&quot; ]; then export GIT_COMMITTER_NAME=&quot;Ranmocy Sheng&quot;; fi;
if [ &quot;$GIT_COMMITTER_NAME&quot; = &quot;Ranmocy&quot; ]; then export GIT_COMMITTER_NAME=&quot;Ranmocy Sheng&quot;; fi;
if [ &quot;$GIT_COMMITTER_NAME&quot; = &quot;Wanzhang Sheng&quot; ]; then export GIT_COMMITTER_NAME=&quot;Ranmocy Sheng&quot;; fi;
if [ &quot;$GIT_COMMITTER_NAME&quot; = &quot;pake007&quot; ]; then export GIT_COMMITTER_NAME=&quot;Jimmy Huang&quot;; fi;
if [ &quot;$GIT_COMMITTER_NAME&quot; = &quot;jimmy&quot; ]; then export GIT_COMMITTER_NAME=&quot;Jimmy Huang&quot;; fi;
if [ &quot;$GIT_COMMITTER_NAME&quot; = &quot;ghosTM55&quot; ]; then export GIT_COMMITTER_NAME=&quot;Thomas Yao&quot;; fi;
git commit-tree &quot;$@&quot;&#39;</code></pre>