<p>生成秘钥和CA证书：</p>

<pre><code>cd /etc/ssl/
sudo openssl req -config /etc/ssl/openssl.cnf -new -x509 -days 3650 -keyout private/GitCafeKey.pem -out GitCafeCA.crt</code></pre>

<p>更新CA证书：</p>

<pre><code>sudo mkdir -p /usr/share/ca-certificates/[YOUR WEBSITE]/
sudo mv /etc/ssl/GitCafeCA.crt /usr/share/ca-certificates/[YOUR WEBSITE]/
sudo dpkg-reconfigure ca-certificates</code></pre>

<p>生成用户秘钥：</p>

<pre><code>openssl genrsa -des3 -out gitcafe.key</code></pre>

<p>生成用户证书：</p>

<pre><code>openssl req -new -days 3650 -key gitcafe.key -out userreq.crt</code></pre>

<p>使用 CA 签发用户证书：</p>

<pre><code>sudo openssl ca -days 3650 -in userreq.crt -out gitcafe_com.crt</code></pre>

<p>http://rhythm-zju.blog.163.com/blog/static/310042008015115718637/</p>