<p>第一天报道的时候，就感到这里的一切都是那样的亲切，广阔的塑胶场地，高大的教学楼，让人心情舒畅，高大的树木，让人感受到无限的春意。</p>

<p>走入教学楼，虽然这里十分神九，但我是奔着这里拥有强大的师资水平才来到了这里。 走进教室，一张张新的面孔映入眼帘，老师也面带微笑，这种环境我很喜欢。</p>

<p>上了一周的课，第一感受是累，学习任务重了。 小学的时候，只有数学和语文两科有作业，现在呢？几乎每科都有作业，而且都不少，聚少成多，当然很累了。 老师上课要求十分严格，上课时都需要绑紧十二分的神经，仔细的看，仔细的听，不放过老师的每一个动作，每一个声音。 这样一天下来，十分的累，回家还要写作业，写完以经精疲力尽了。</p>

<p>人们都说小学的时光是美好的，小学时不觉得，中学后才懂得。 拥有时不知其价值，失去后才后悔莫及，才知道是那样的珍贵。</p>