<p>困难是什么？困难是一堵无形墙，只有信念这个钻头，才能钻破它。 信念是世界上最硬的东西，它可以征服一切。</p>

<p>小时候，一次妈妈中午不在家，爸爸也不在家，只有我一人， 肚子饿了，便想到了吃，没人给我做，就自己做吧。 以前看过母亲做饭，应该没有问题的。 于是，我便开始做，准备好材料后便开始做饭，但一不小心炒糊了，我灰心丧志。 关了火，坐在一边，十分懊丧，直到母亲回来，母亲鼓励我再做一次，可我不愿意：我做不好的，算了吧。 但母亲让我一定要再做一遍，我极不情愿地又做了一次，这次在母亲的指导下做好了，我突然发现做饭不是很难的。</p>

<p>再做一次，你也许就会成功。</p>