<p>大海，一望无际的大海呀，我从小便向往着大海，大海是那样的神秘、不可测。</p>

<p>小时候，我十分喜爱数学，我便向往，有朝一日，我可以在班级中的数学成绩名列前茅，后来，我做到了。 我找到了心中的还，我终于见到了大海，可是别人告诉我：这不是海，这不过是一片湖罢了。 但我不在意，此刻，我心中的海与湖又有什么差别呢？ 当我大了一些后，心中的海发生了变化，他不再是害了，不过是一片湖而已， 我不再满足于现状，继续向前行进，至今，我仍在不断地爬山、奋斗，不断地找到心中的海……</p>

<p>大海啊， 你是那样的遥远！ 有谁见到了你？华罗庚？陈景润？高斯？福特？比尔•盖茨？见到你的人寥寥无几。 如果我见到了你，我会骄傲、自豪和无比的成就感么？ 大海啊，你是无数人所向往的敌方，有些人，为了能见到你，翻山越岭，只为了见你一眼！</p>

<p>大海啊，神秘的大海，你让我自信，让我有了前进的动力！</p>