<p>我在教导你们世界的原动力。<br />你们听之，想之，就忘之吧。<br />我曾因之而陷入巨大的痛苦之中，切莫步吾之后尘。<br />如今，我记录，我说，我怕我遗失他们，我怕我耗费心智，却什么也没有留下。<br />那样就变成了虚无。</p>

<p>这些东西有的有些用处，有些无关痛痒，有些理解了反而有所伤害。<br />越是聪慧之人越是要小心！阅读之时切记要保持思考，不要误入歧途！</p>

<p>若有人识得此意，方许他读《本源哲学》也。<br />奉劝世人，勿为吾之后车！<br />而后，准汝阅读。</p>