<p>本文前提条件，若非认同，无须阅读：</p>

<p>1. 人都是利己的生物。 2. 人本能追求利益最大化。 3. 人的生命和精力是有限的。 4. 人只有深入一个领域生产效率才会提高。 5. 人因此必须交易。</p>

<p>如果你认同以上的观点，那么，我要告诉你，效率，是生物进化过程的主旋律。</p>

<h2 id='id29'>两性关系</h2>

<p>两性的存在是一个很神奇的事情。 明明是件很麻烦的事情，增加的种族复杂度，很多人因此而生活的不快乐，为什么进化会出现两性？ 因为会增加效率。</p>

<p>当我们还是一个单性的生物的时候，我们适应了我们的居住环境。 但是当居住环境不断变化的时候，当我们需要在更为广阔多变的世界中生存的时候，一个个体的适应能力已经难以提高。 一个更加通用的系统必然带来复杂性的大幅提升，即意味着稳定性的下降，个体更难存活。 所以两性出现了。两性出现的意味很简单，分工合作，互惠互利。</p>

<p>在长期进化过程中人们分化成为两种性别，如同两个器官一样，为了更好的生存和繁衍而共同合作。 既然有分工，就必然存在擅长、不擅长、所供与所需。</p>

<p>1. 男人擅长获取资源，女人擅长细化资源。 2. 男人擅长专一的事情，女人擅长多线程的事情 3. 男人需要女人帮助处理生活琐事以提高高强度工作的生产效率，女人需要男人获取生产资料以提升自身生存与后代生存成长的环境质量。 4. 男人生存压力小，繁殖压力大；女人繁殖压力小，生存压力大。 繁殖包含两个方面，生育和养育。都不是男人擅长的事物。 5. 男人更需要性，女人更需要爱。 男人需要借助女人完成繁殖过程；女人需要借助男人获取生活资源。 所以男人需要肉体刺激，不然他们可没法生孩子。 所以女人需要安全感，她们需要确保男人足够爱她们，才能够保证从男人那里获取到资源。 所以男人满脑袋都是性，女人满脑袋都是爱。 所以女人才会被肥皂剧中的爱情故事一遍遍的引出眼泪，而男人更愿意去看爱情动作片。 有人说，女性在性高潮的时候其实是爱高潮。 6. 男人通过征服世界来征服女人，女人通过征服男人来征服世界。</p>

<h2 id='id30'>效率的适用条件</h2>

<p>很遗憾的是，人们只会做<em>当前</em>状态下他们<em>认为</em>对他们来说最优的事情。 意即，人们并非会做真正最有效率的事情。 但是从长远的统计学意义上来看，人们会趋向于选择更有效率的事情，人们在做有效率的事情的时候会更稳定，因为那时他们真的感受到了这个选择的正确性。 所有存在均有其合理性，即有其发生的因。但是并非所有的存在都是最优的，就像进化并不会让每个器官都达到最优功效，事实上，不断优化正是进化的意义。</p>