<p>这个哲学体系可以说是独立于社会之外的视角来审视这个世界。 像是从上帝视角来看待这个世界，有时候可能会显得不近人情。</p>

<h2 id='id31'>为什么要探究</h2>

<p>我们的世界充满着对象。 这些对象有些对我们有利有些对我们有害，我们趋利避害的时候需要找到处理他们的方法。 一些看起来头头是道的人所说的方法多是从自己的经验或是他人的经验之中总结而来。 而本源哲学追求的是方法本后的原理，也即意为着是生成方法的方法。</p>

<p>这个思维方式的价值并不仅限于生成方法，而是当你学会向上抽象总结的时候，你可以无限深入下去。 找到方法的方法，还可以去找方法的方法的方法，无穷无尽也。</p>

<p>不断的抽象，你的世界就会像金字塔一样清晰稳固。 不断的抽象，你只需更少的要点而去抓住整个世界。</p>

<h2 id='id32'>我们有前提</h2>

<p>所有的事物都有根源，如果不断向其根源探究的话是没有穷尽的。 所以所有的观点均有前提，不认可前提的话，大可不必继续阅读了。</p>

<h6 id='lisp'>闲谈Lisp语言</h6>

<p>抽象的抽象的抽象，就是本源。</p>

<p>我们用计算机来处理实际问题，当问题重复出现的时候，我们就抽象一个通用方法（Function），但是方法本身也重复出现呢？于是，Lisp中出现有个很有趣而且很强大的东西叫做宏（Macro）。</p>