<h2 id='id33'>语言与思维</h2>

<p>语言是一种记录内心活动的工具， 它并非直接影响思维活动， 但是由于思维细致而微妙，转瞬即逝， 我们需要利用语言来深化和固化这些思维。 语言越是灵活精细，越有利于思维的精确表达。</p>

<p>你能记住的抽象的东西，就是你的语言所能表达出的部分。 一旦记忆达到了语言层次，记忆本身的消逝速度就下降了一个数量级。 这就是为什么我们“懂事”，“记事”是在4～6岁的时候开始的， 正值我们可以应用语言而非单独的词汇的时期。 所以语言的早期教育对成长起到了相当有决定性的影响。 这正是我们所提出要重视教育的0～3岁。</p>

<p>语言不仅在早期教育中发挥着作用，事实上贯穿了我们整个一生的学习。 所有的学习结果都需要从思绪中固化为语言才能长时间存在。 如果期望时空范围更为广泛的存在就需要文字或是其他实体化手段。 这样信息的传播才有载体。</p>

<p>语言的教育对整体智力的影响，比大多数人认为的要大得多。 因为语言能力是你的智商可以被衡量的最底层的实现。 说白了就是智力的基础，注意不是智慧。 这里的语言是广义的语言，包括数学语言，计算机语言，甚至绘画等艺术表达手段亦可以归入其中。 而其产品可以等价为文字。</p>
<hr />
<h2 id='id34'>语言与文字</h2>

<p>文字是语音的进一步深化， 虽然对于人类的认知能力来说依旧十分复杂， 但是去除了语音中的情绪部分之后， 和原始的思绪相比，文字可以说是相当的苍白无力。</p>

<p>对于一个人来说，思绪是转瞬即逝的，所以我们用语言来记录思绪。 而即使是语言表述了而没有实体记录的话，人们亦会在信息流的冲击下遗忘它们。 所以可以实体化的文字就变成人们的迫切需要而出现了。</p>

<p>即使遗失了很多信息，也总比什么也不留下的好。 但是人们的思绪在冲动，想要记录更多的东西。 于是产生了当下富媒体的热潮。 文字将死么？不会，绝对不会。 但是文字已经从当年记录手段的王者位置上退下，成为市场份额中的一部分罢了。 因为人们不会彻底放弃任何可能多记录一点信息的可能手段，只是比例在不停变化罢了。 这是人类表现欲的冲动所在。</p>

<p>而整个社会，就像是一个巨大的信息制造机器， 记录着多种多样的信息，筛选更有价值的部分， 反复，日夜不息。</p>
<hr />
<h2 id='id35'>语言的存在</h2>

<p>人们利用语言进行交流，是一种区别于物质交流的手段。 语言的作用是交流，甚至要包含对自身的交流，是一种信息的流动。 其目的是将信息传递给另外一个人。</p>

<p>所以语言的目的是为了<em>改变状态</em>而不是<em>描述状态</em>。 是为了产生影响而不是记录真实。 所以同样的语言，对于不同的人有不同的影响。 它不是一个绝对空间中的点，而更像是一个相对空间中的矢量，给对方施加了一个力，驱使它改变。 虽然结果不一定如你所愿。</p>

<p>就像这个博客其他栏目里的所有文章。 它们的目的在于改变，改变作者自己，而不是描述作者自己的状态。 虽然本文本意趋近于真实，而实际上根本意愿是为了将思维剥离出去，目的仍然是为了改变自身。 描述真实不过是主旨之外的副作用。</p>
<hr />
<h2 id='id36'>语言的缺陷</h2>

<p>每一次信息传递都要经过以下步骤： 1. 采集思绪 2. 转化为语言 3. 转为表达介质（肢体，声音，文字） 4. 接受信息 5. 理解信息</p>

<p>每一个步骤都会产生信息的损伤。 采集信息的能力依赖于对自身的理解； 转化为语言的准确性依赖于自身语言能力的水平； 转化为表达介质虽然看似简单，但是受环境等细小的影响很大； 接受信息本身的模糊不清； 理解信息的人用词习惯，理解的不一致会再次扭曲原意。</p>

<p>由于一次有效的信息传递要经过数个会产生信息损伤的环节， 所以最后传递的信息与原始信息会有非常大的差异。</p>

<p>那么交流顺畅的关键在于不要太注意语言细节，没有人的语言是完备的。 因为语言本身的缺陷，语言的二意性是不可完全消除的。 所以曲解别人的意思实在是件简单而没有技术含量的事情。 而面对自己被曲解的话也大可不必大动干戈，首先准确传达本身就是不可能的，更何况那些不能理解你的话的人更不值得你去在意。</p>

<p>我们要做的是尽力理解别人想要表达的信息。 比如说，别人问你“最近感觉如何？” 你不必追问”什么感觉？“或是“你指哪方面的感觉？” 人家的目的就是打个招呼，大致了解一下你最近在忙些什么。 所以你尽量把自己的状态描述一下就可以了，其实别人更多的时候并不是很严肃的在问，只是”随口一问“罢了， 你要是非纠结字眼，就把问这个问题本身搞复杂了，别人的成本就高了，给别人带来了麻烦，人家就不想再问了。 如果这不是你的目的，那么就避免深究字眼。</p>

<h2 id='id37'>语言的价值</h2>

<p>如果语言真的只有这么多问题的话，我们就不会去交流的。 人们肯做一件事情，肯定是因为做了比不做要有利于自己。 那么在高昂的成本之后，必然有丰厚的利润。</p>

<p>即使没有办法准确的传达我们的想法， 尽可能的传递信息仍然有不可替代的好处。</p>

<p>交流可以给人们带来更多的资源。 这里主要是指人力资源，因为其他的资源依赖于人力资源的发展而顺水而来。 我们通过交流让他人知道些什么，或是知道我们拥有的信息或物质，或是知道我们目前的行动，或是只是知道我们个体的存在； 我们通过交流让他人相信些什么，或是相信我们的理念，或是相信我们可以给他们带来什么样的利益，或是相信我们是他们所无法打败的。</p>

<p>所以语言，是精神界的最高<em>表现</em>。</p>