<pre><code>携着爱疯，独自
自习在空旷、空旷
又寂寞的图书馆长廊，
我希望逢着
一个和我一样
和我一样的
用着MBA的美丽姑娘。
她默默地坐在我的对面
默默地，又投出
像梦一般的
像梦一般的寂寞的眼光。
她默默的站起，站起
转身静静的离去
直到消失在转角
我都没能追上前去。
携着爱疯，独自
徘徊在空旷、空旷
又寂寞的图书馆长廊，
我希望身边跟着
一个安静的
用着爱疯的美丽姑娘。
——盛万章《长廊》</code></pre>